﻿@font-face {
    font-family: "Helvetiva";
    src: url("~/Template/BaoBiNhuaBinhMinh/Assets/font/Helvetica.ttc");
}

body {
    font-family: Helvetiva,Arial !important;
}

.row {
    display: flex;
    display: -webkit-flex;
}

@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
    @media { /* Define class here */
             .row{
                 display: -webkit-box;
             }
    }
}
