﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/_HomeImage/_homeImage.css" rel="stylesheet" />
<section id="team" class="Mobile">
    <div class="container">
        <div class="section-header wow fadeInUp">
            <h3>Thư Viện Hình Ảnh Và Video</h3>
        </div>

        <div class="row">

      

            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="member" id="image-2">
                    <img src="http://www.baobibinhminh.net/resize.php?f=/uploads/20160204_183658.jpg&h=160" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>6TH BIRTHDAY PARTY</h4>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="member" id="image-2">
                    <img src="http://www.baobibinhminh.net/resize.php?f=/uploads/gallery/IMG_9062.jpg&h=160" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>YEAR-END PARTY 2015</h4>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

    </div>
</section>


<section id="team" class="destop">
    <div class="container">
        <div class="section-header wow fadeInUp">
            <h3>Thư Viện Hình Ảnh Và Video</h3>
        </div>

        <div class="row">

            <div class="col-md-3 col-sm-12 wow fadeInUp">
                <div class="member" id="image-1" style="display:none;">
                    <img src="http://www.baobibinhminh.net/resize.php?f=/uploads/20160204_183658.jpg&h=160" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>6TH BIRTHDAY PARTY</h4>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="member" id="image-2">
                    <img src="http://www.baobibinhminh.net/resize.php?f=/uploads/gallery/IMG_9062.jpg&h=160" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>YEAR-END PARTY 2015</h4>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 wow fadeInUp">
                <div class="member" id="image-1">
                    <img src="http://www.baobibinhminh.net/resize.php?f=/uploads/20160204_183658.jpg&h=160" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>6TH BIRTHDAY PARTY</h4>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 wow fadeInUp" >
                <div class="member" id="image-1" style="display:none;">
                    <img src="http://www.baobibinhminh.net/resize.php?f=/uploads/20160204_183658.jpg&h=160" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>6TH BIRTHDAY PARTY</h4>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>