﻿
<link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Layout_Header/layout_header.css" rel="stylesheet" />

    <div class="contain">
        <div class="headerV1">


            <a href="http://www.baobibinhminh.net/vi" class="logo"><img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/logo.png" alt="logo" /></a>
            <div class="row">

                <h3 class="col-lg-6" id="title-layout">CÔNG TY CỔ PHẦN BAO BÌ BÌNH MINH</h3>



                <div class="col-lg-4  search-container">
                    <form action="" id="form-search">
                        <input type="text" class="col-10" placeholder="Search.." name="search" id="search-product">
                        <button type="submit" class="col-2" id="sm-search"><i class="fa fa-search" style="color:white"></i></button>
                    </form>
                </div>

                <div class="col-lg-1  language">
                    @*<strong>Languages:</strong>*@
                    <a href="http://www.baobibinhminh.net/vi">VI</a> &nbsp;|&nbsp; <a href="http://www.baobibinhminh.net/en">EN</a>
                </div>
            </div>
            <div class="clear"></div>

            <div class="container-fluid">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">

                        <li class="menu-active"><a href="#intro">Trang Chủ</a></li>
                        <li><a href="#about">Giới Thiệu</a></li>

                        <li><a href="#portfolio">Sản Phẩm</a></li>
                        @*<li><a href="#team">Cung Ứng</a></li>*@
                        <li class="menu-has-children">
                            <a href="">Thư Viện</a>
                            <ul>
                                <li><a href="#">Hình Ảnh</a></li>
                                <li><a href="#">Video</a></li>

                            </ul>
                        </li>
                        <li><a href="#testimonials">Tuyển Dụng</a></li>
                        <li><a href="#contact">Liên Hệ</a></li>
                    </ul>
                </nav>
            </div>


            <!-- #nav-menu-container -->
            </div>
        </div>
 