﻿

.clear{clear:both;}
a{text-decoration:none;}
img{border:none;margin:0;padding:0;}
h2{font-size:18px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:13px;}
h6{font-size:12px;}
h1,h2,h3,h4,h5,h6{padding:0;margin:0;}
.contain{width: 1020px;margin: 0 auto;position:relative;padding:0 10px;}
/*header*/
.headerV1 {
    position: relative;
    min-height: 140px;
}
.headerV1 .logo {
    position: absolute;
    left: 0;
    top: 0;
}
    .headerV1 h3 {
        height: 75px;
        line-height: 75px;
        color: #004923;
        float: left;
        padding-left: 140px;
        font-weight: bold
    }
.language{float:right;padding-top:26px;font-size:12px;}.language img{margin-left:5px;}
.language a{color:#000;}.language a:hover{text-decoration:underline;}

@media (max-width:824px) {
    .contain{
        width:100%!important;

    }
    .headerV1 {
        overflow:hidden;
    }
}
@media (max-width: 1015px) {

    .contain {
        width: 100% !important;
    }

    .headerV1 {
        overflow: hidden;
    }

    #search-product {
        width: 84%;
        float: left;
    }
    .search-container {
        margin-left: 125px;
    }
    .language {
        /* left: 591px; */
        position: absolute;
        top: 0;
        left: 443px
    }
}
@media (max-width: 1200px) {
    a.about-us {
        padding: 72px;
        font-size: 12px;
    }
}

