﻿<style>
    .txt-primary {
        color: #0066A4;
    }
    .txt-primary:hover{
        color:#00032C;
    }
   
</style>
<section class="container mb-100">
    <div class="row">
        <div class="col-lg-12">
            <div class="card blog-single mt-0">
                <div class="card-body">
                    <div class="blog-media">
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/photo-1-1492430996077.png" class="img-thumbnail img-responsive col-md-12" alt="" style="margin-right:20px;">    
                    </div>
                   
                    <div class="blog-body">
                        <div class="text-muted">
                            Ngày đăng:<a href="#" class="txt-primary">25/09/2018 7:15AM</a> | Đăng bởi:<a href="#" class="txt-primary">Hoàng Gia Bảo</a>
                        </div>
                        <h4 class="heading">Are we responsible for their misbehaviour?</h4>
                        <p>
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary.
                        </p>
                        <p>
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty.
                        </p>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
                    </div>
                </div>
            </div>
       </div>
 
    </div>
</section>