﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/News/new.css" rel="stylesheet" />

@Html.Section("_Home_Info")

<div class="contain" id="tin-tuc">
   
    <div class="content">
        <div class="contentl">
            <h3 class="titleNews">TIN TỨC NỔI BẬT</h3>
            <ul class="newsmenu">
                <li><a href="/tintuc/a">Bạn hiểu OEM, ODM và OBM là gì?</a></li>
                <li><a href="">INTERPACK 2017</a></li>
                <li><a href="">Xây dựng lòng trung thành với thương hiệu (Brand Loyalty )</a></li>
                <li><a href="">Nhà cung ứng bao bì của doanh nghiệp lớn</a></li>
                <li><a href="">Ngành công nghiệp bao bì Việt Nam: Từ tiềm năng, cơ hội đến thách thức</a></li>
                <li><a href="">Ngành bao bì mềm đang cạnh tranh và tăng tốc</a></li>
            </ul>
        </div>
        <div class="contentr">
            <h2 class="titleNews">Tin tức - Sự kiện</h2>
            <div class="news">
                <div class="news_img"><a href="/tin-tuc/a#new-detail" target="_blank"><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/Bao%20b%C3%AC%20s%E1%BA%A3n%20ph%E1%BA%A9m%20l%C3%A0%201%20d%E1%BA%A1ng%20%E2%80%9Ctruy%E1%BB%81n%20th%C3%B4ng%20t%C4%A9nh%E2%80%9D.png&w=220" alt="BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH" /></a></div>
                <h5 class="news_name"><a href="/tin-tuc/a#new-detail" target="_blank">BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH</a></h5>
                <h3 class="news_date">Cập nhật: 15/01/2018</h3>
                <p>Bao bì sản phẩm là 1 dạng “truyền thông tĩnh” (static communication) giúp truyền tải các lợi ích sản phẩm (lý tính &amp; cảm tính), những giá trị thương hiệu (brand values), cam kết thương hiệu (brand promise) cũng như góp phần thuyết phục khách...
                <br/>
                <a href="/tin-tuc/a#new-detail" target="_blank" class="viewdt">Đọc tiếp</a>
                </p>
                <div class="clear"></div>
            </div>
            <div class="news">
                <div class="news_img"><a href=""><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/news/Nh%C3%A0%20m%C3%A1y%20s%E1%BA%A3n%20xu%E1%BA%A5t%20bao%20b%C3%AC%20ti%C3%AAu%20chu%E1%BA%A9n%20GMP.png&w=220" alt="NHÀ MÁY SẢN XUẤT BAO BÌ TIÊU CHUẨN GMP" /></a></div>
                <h5 class="news_name"><a href="">NHÀ MÁY SẢN XUẤT BAO BÌ TIÊU CHUẨN GMP</a></h5>
                <h3 class="news_date">Cập nhật: 14/07/2017</h3>
                <p>Để đáp ứng nhu cầu của các cơ sở sản xuất dược phẩm, thực phẩm chức năng, thực phẩm chế biến, công ty cổ phần bao bì Bình Minh tích cực tổ chức nhà máy sản xuất, hệ thống máy móc và trang thiết bị, nguồn nhân lực, quy trình sản xuất chặt chẽ. Bao...
                <br/>
                    <a href="" class="viewdt">Đọc tiếp</a>
                </p>
                <div class="clear"></div>
            </div>
            <div class="news">
                <div class="news_img"><a href=""><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/news/Bao%20b%C3%AC%20B%C3%ACnh%20Minh%20%C4%91%C6%B0%E1%BB%A3c%20t%C3%A1i%20c%E1%BA%A5p%20ch%E1%BB%A9ng%20nh%E1%BA%ADn%20GMP%20v%C3%A0%20HACCP.png&w=220" alt="BAO BÌ BÌNH MINH ĐƯỢC TÁI CẤP CHỨNG NHẬN GMP VÀ HACCP" /></a></div>
                <h5 class="news_name"><a href="">BAO BÌ BÌNH MINH ĐƯỢC TÁI CẤP CHỨNG NHẬN GMP VÀ HACCP</a></h5>
                <h3 class="news_date">Cập nhật: 14/07/2017</h3>
                <p>Sau thời gian nhận giấy chứng nhận HACCP, GMP, Công ty cổ phần Bao bì Bình Minh liên tục nhận được các đơn hàng đặc thù về màng ghép phức hợp. Từng bước khẳng định Bao bì Bình Minh là chuyên gia bao bì màng mềm phức hợp công nghệ in ống đồng.
                 <br/>
                    <a href="" class="viewdt">Đọc tiếp</a>
                </p>
                <div class="clear"></div>
            </div>
            <div class="news">
                <div class="news_img"><a href=""><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/news/Bao%20b%C3%AC%20m%C3%A0ng%20gh%C3%A9p%20ph%E1%BB%A9c%20h%E1%BB%A3p.png&w=220" alt="BAO BÌ MÀNG GHÉP PHỨC HỢP" /></a></div>
                <h5 class="news_name"><a href="">BAO BÌ MÀNG GHÉP PHỨC HỢP</a></h5>
                <h3 class="news_date">Cập nhật: 14/07/2017</h3>
                <p>Để giúp khách hàng loại bỏ các rủi ro trong sản xuất, tiết kiệm giá thành đầu vào, giao hàng kịp thời, Bình Minh đã đầu tư hoàn chỉnh hệ thống quản lý chất lượng sản phẩm theo tiêu chuẩn quốc tế ISO, HACCP, GMP. 
                <br />
                <a href="" class="viewdt">Đọc tiếp</a>
                </p>
                <div class="clear"></div>
            </div>
            <div class="news">
                <div class="news_img"><a href=""><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/news/XU%20H%C6%AF%E1%BB%9ANG%20BAO%20B%C3%8C%20B%C3%81NH%20K%E1%BA%B8O%202017%20%E2%80%93%202018.png&w=220" alt="XU HƯỚNG BAO BÌ BÁNH KẸO 2017 – 2018 " /></a></div>
                <h5 class="news_name"><a href="">XU HƯỚNG BAO BÌ BÁNH KẸO 2017 – 2018 </a></h5>
                <h3 class="news_date">Cập nhật: 14/07/2017</h3>
                <p>Bánh kẹo là loại sản phẩm không đòi hỏi công nghệ cao, không là mặt hàng thiết yếu trong đời sống, nhưng doanh thu không hề nhỏ và ngày càng phát triển. Các loại bánh kẹo in ấn nhiều màu sắc và hình ảnh trên bao bì, nên chỉ dùng các loại bao bì..
                <br/>
                <a href="" class="viewdt">Đọc tiếp</a>
                </p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="pagination" align="right">
                <a href="http://www.baobibinhminh.net/vi/tin-tuc/trang-1.html">&lt;&lt;</a>
                <a href="http://www.baobibinhminh.net/vi/tin-tuc/trang-2.html">&lt;</a>
                <a href="http://www.baobibinhminh.net/vi/tin-tuc/trang-1.html">1</a>                    <a href="http://www.baobibinhminh.net/vi/tin-tuc/trang-2.html">2</a>                    <span>3</span>
                <a href="http://www.baobibinhminh.net/vi/tin-tuc/trang-4.html">4</a>                    <a href="http://www.baobibinhminh.net/vi/tin-tuc/trang-5.html">5</a>                    ...                    <a href="http://www.baobibinhminh.net/vi/tin-tuc/trang-16.html">16</a>                            <a href="http://www.baobibinhminh.net/vi/tin-tuc/trang-4.html">&gt;</a>
                <a href="http://www.baobibinhminh.net/vi/tin-tuc/trang-16.html">&gt;&gt;</a>
            </div>
        </div>  
        <div class="clear"></div>
    </div>
</div>

