﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/News/new.css" rel="stylesheet" />
@Html.Section("_Home_Info")
<div class="contain" id="new-detail">
    <div class="content">
        <div class="contentl">
            <h3 class="titleNews">TIN TỨC NỔI BẬT</h3>
            <ul class="newsmenu">
                <li><a href="/tin-tuc/a">Bạn hiểu OEM, ODM và OBM là gì?</a></li>
                <li><a href="#">INTERPACK 2017</a></li>
                <li><a href="#">Xây dựng lòng trung thành với thương hiệu (Brand Loyalty )</a></li>
                <li><a href="#">Nhà cung ứng bao bì của doanh nghiệp lớn</a></li>
                <li><a href="#">Ngành công nghiệp bao bì Việt Nam: Từ tiềm năng, cơ hội đến thách thức</a></li>
                <li><a href="#">Ngành bao bì mềm đang cạnh tranh và tăng tốc</a></li>
            </ul>
        </div>
        <div class="contentr">
            <h2 class="titleNews">Tin tức - Sự kiện</h2>
            <h3 class="titlnews">BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH</h3>
            <p style="padding:0 0 15px 0;margin:0;font-size:14px;">
                <em>Bao bì sản phẩm là 1 dạng “truyền thông tĩnh” (static communication) giúp truyền tải các lợi ích sản phẩm (lý tính &amp; cảm tính), những giá trị thương hiệu (brand values), cam kết thương hiệu (brand promise) cũng như góp phần thuyết phục khách hàng mục tiêu tin và mua sản phẩm.</em>
            </p>
            <div style="font-size:14px;line-height:1.625">
                <div style="text-align:justify;">
                    <span style="font-family:arial, helvetica, sans-serif;"><span style="color:#000000;">Trong 1 số ngành hàng rất đặc thù liên quan đến thực phẩm như bánh, kẹo, mì gói, kem, sữa chua thì bao bì sản phẩm là 1 trong những yếu tố then chốt (key driver) thúc đẩy khách hàng mua sản phẩm. Các loại bao bì này luôn được thiết kế nhằm tạo sự “ngon mắt” hay tạo cảm giác “đậm đà”– kích thích khách hàng nhìn là thèm ăn, ham uống ngay lập tức, không cưỡng nổi cơn thèm nên…phải mua.</span><br /><br /><span style="color:#000000;">Nhưng không phải doanh nghiệp nào cũng xem trọng, đầu tư nghiêm túc vào việc phát triển bao bì sản phẩm. Hãy nghiền ngẫm 5 sự thật chưa được kể về bao bì sản phẩm sau:</span><br /><br /><span style="font-size:16px;"><span style="color:#000000;"><strong>1. Thời gian khách hàng tiếp xúc với bao bì sản phẩm nhiều hơn bất kỳ phương tiện truyền thông nào</strong></span></span><br /><br /><span style="color:#000000;">Hãy thử nghĩ xem, 1 phụ nữ nội trợ ngày nào cũng giặt đồ cho gia đình bằng bột giặt Tide thì chị ấy liên tục tiếp xúc với bao bì sản phẩm Tide, nhưng liệu ngày nào chị ấy cũng xem thấy quảng cáo bột giặt Tide trên TV, trong siêu thị, hay trên mạng Internet?</span><br /><br /><span style="color:#000000;">Không giống như các phương tiên truyền thông khác vốn có thể bị bỏ qua (như quảng cáo truyền hình có thể bị đổi kênh, quảng cáo banner trên báo mạng có thể không được click), “truyền thông” bằng bao bì khó có thể bị “tắt”, đặc biệt khi bạn dùng sản phẩm hàng ngày. Nên hãy tận dụng bao bì là 1 phương tiện truyền thông để nhắc nhở khách hàng về thông điệp sản phẩm hay cam kết thương hiệu.</span></span><br />
                </div>

                <p style="text-align:justify;">
                    <span style="font-size:16px;"><strong><span style="font-family:arial, helvetica, sans-serif;"><span style="color:#000000;">2. Sản phẩm = Những thứ bên trong + Bao bì sản phẩm</span></span></strong></span><br />
                </p>

                <div style="text-align:justify;">
                    <span style="font-family:arial, helvetica, sans-serif;"><span style="color:#000000;">Khách hàng mua sản phẩm không chỉ là mua “Những thứ bên trong” (họ mua bột giặt không chỉ vì bột giặt), họ trả tiền cho cả “Bao bì sản phẩm” vì họ bị hấp dẫn thiết kế, cấu trúc của bao bì sản phẩm, họ cảm nhận được cam kết thương hiệu, chất lượng sản phẩm thể hiện trên thiết kết &amp; cấu trúc bao bì. Nhiều khi chúng ta mua sản phẩm đơn thuần chỉ vì bao bì bắt mắt chứ không phải vì quảng cáo của thương hiệu phải không? Đặc biệt là khi mua bánh kẹo, mì gói, những loại thực phẩm ăn liền.</span></span><br />
                </div>

                <p style="text-align:justify;">
                    <span style="font-size:16px;"><strong><span style="font-family:arial, helvetica, sans-serif;"><span style="color:#000000;">3. Bao bì sản phẩm &amp; sản phẩm tạo ra “Nghi thức sử dụng sản phẩm” (Brand ritual)</span></span></strong></span><br />
                </p>

                <div style="text-align:justify;">
                    <span style="font-family:arial, helvetica, sans-serif;"><span style="color:#000000;">Chocolate Kitkat của Nestle từ lúc thay đổi bao bì sang dạng giấy bọc cũng như cố tính thiết kế miếng chocolate thành từng khúc dính liền nhau đã tạo ra 1 “Nghi thức sử dụng sản phẩm” rất đặc trưng. Người tiêu dùng sẽ bẻ thanh chocolate thành nhiều miếng nhỏ rồi mới ăn, Kitkat nhanh chóng trở thành thương hiệu đầu tiên trên thế giới sở hữu “Nghi thức sử dụng sản phẩm” rất đặc thù này của ngành hàng chocolate, mặc dù “Nghi thức” này có thể dễ dàng bắt chước. Nhưng bạn biết rồi đó, trong marketing, nếu bạn là người đầu tiên làm 1 điều gì đó, thì những kẻ khác bắt chước theo sẽ khó chinh phục được khách hàng.</span></span><br />
                </div>

                <p style="text-align:justify;">
                    <span style="font-size:16px;"><strong><span style="font-family:arial, helvetica, sans-serif;"><span style="color:#000000;">4. Bao bì sản phẩm được xây dựng trên cơ sở thói quen &amp; hành vi sử dụng của khách hàng</span></span></strong></span><br />
                </p>

                <div style="text-align:justify;">
                    <span style="font-family:arial, helvetica, sans-serif;"><span style="color:#000000;">Thiết kế bao bì theo hướng thuận tiện, thân thiện cho khách hàng khi sử dụng sản phẩm so với đối thủ là tạo thêm điểm cộng cho sản phẩm trong việc chinh phục khách hàng cũng như duy trì sự trung thành của họ. Bao bì tương cà Heinz được thiết kế trên cơ sở hành vi rất hiển nhiên của khách hàng: sau khi dùng gần hết, họ sẽ dốc ngược chai để tương chảy xuống để sử dụng đến những giọt cuối cùng.</span><br /><br /><span style="color:#000000;">Trong ngành hàng giặt tẩy, phụ nữ nội trợ hay có thói quen xử lý các vết bẩn cứng đầu (pre-treat) bằng cách vò chung với nước giặt/bột giặt trước khi cho quần áo bẩn vào máy giặt. Với thiết kế bao bì đột phá của chai nước giặt OMO Matic Smart Wash có gắn banh giặt thông minh, hỗ trợ xử lý vết bẩn cứng đầu cho những khách hàng có thói quen pre-treat vết bẩn (dùng banh giặt để chà lên vết bẩn 1 cách nhẹ nhàng, thay vì tốn nhiều sức vò).</span></span><br />
                </div>

                <p style="text-align:justify;">
                    <span style="font-size:16px;"><strong><span style="font-family:arial, helvetica, sans-serif;"><span style="color:#000000;">5. Bao bì sản phẩm là hiện thân của định vị thương hiệu Brand DNA</span></span></strong></span><br />
                </p>

                <div style="text-align:justify;"><span style="font-family:arial, helvetica, sans-serif;"><span style="color:#000000;">Thương hiệu bia lâu đời Grolsch của Hà Lan với thiết kế bao bì khá kiểu cách: vỏ chai bia dày và rắn chắc với màu sắc xanh tối để ngăn ngừa tác động ánh sáng mặt trời lên vị bia bên cạnh tôn vinh sự sang trọng của thương hiệu, nắp nhựa dày, đậy chắc chắn 1 cách cầu kỳ, được niêm phong bởi giấy bạc. Với kiểu dáng thiết kế đó, thương hiệu Grolsch thể hiện cam kết thương hiệu (brand promise) là mang lại bia đúng chuẩn tươi.</span><br /><br /><span style="color:#000000;">Các dòng sản phẩm chăm sóc cho em bé của Johnson’s Baby luôn thể hiện màu sắc dịu nhẹ, thiết kế giản đơn, đồng thời màu sắc của chính sản phẩm sữa tắm, dầu gội hay nước hoa cho trẻ em cũng mang sắc màu nhẹ nhàng, để thể hiện đúng định vị là cam kết mang lại sản phẩm an toàn, dịu nhẹ cho làn da nhạy cảm của em bé.</span></span></div>

                <div style="text-align:justify;"><br /><span style="font-family:arial, helvetica, sans-serif;"><em>(Theo BrandsVietnam) </em></span></div>
            </div>
            <div class="clear"></div>
            <div class="product_other">
                <h3 class="title_other" style="display:block">Tin liên quan</h3>
                <ul class="news_related">
                    <li><a href="http://www.baobibinhminh.net/vi/n85/Ban-hieu-OEM-ODM-va-OBM-la-gi.html">Bạn hiểu OEM, ODM và OBM là gì?</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n84/INTERPACK-2017.html">INTERPACK 2017</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n83/Xay-dung-long-trung-thanh-voi-thuong-hieu-Brand-Loyalty-.html">Xây dựng lòng trung thành với thương hiệu (Brand Loyalty )</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n82/Nha-cung-ung-bao-bi-cua-doanh-nghiep-lon.html">Nhà cung ứng bao bì của doanh nghiệp lớn</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n81/Nganh-cong-nghiep-bao-bi-Viet-Nam-Tu-tiem-nang-co-hoi-den-thach-thuc.html">Ngành công nghiệp bao bì Việt Nam: Từ tiềm năng, cơ hội đến thách thức</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n80/Nganh-bao-bi-mem-dang-canh-tranh-va-tang-toc.html">Ngành bao bì mềm đang cạnh tranh và tăng tốc</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n79/Bao-bi-la-cong-cu-truyen-thong-hieu-qua.html">Bao bì là công cụ truyền thông hiệu quả</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n77/Cau-truc-cac-loai-bao-bi-mang-ghep-phuc-hop.html">Cấu trúc các loại bao bì màng ghép phức hợp</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n76/Chuc-mung-nam-moi-2017.html">Chúc mừng năm mới 2017 </a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n75/Merry-Christmas-amp-Happy-New-Year-2017.html">Merry Christmas &amp; Happy New Year 2017 </a></li>
                </ul>
            </div><!--other_news-->
        </div><div class="clear"></div>
    </div>
</div>
