﻿@using Unideli.ViewServices
@{
    var menuHeader = new BlogCategoryViewService().GetBlogCategoriesAsMenu();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Open Graph data -->
    <meta property="og:locale" content="vi_VN">


    <title> BaoBiBinhMinh </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/img/favicon.png" rel="icon">
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <!-- Bootstrap CSS File -->
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/jquery/jquery.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/easing/easing.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/superfish/hoverIntent.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/superfish/superfish.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/wow/wow.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/counterup/counterup.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/contactform/contactform.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Template Main Javascript File -->
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/js/main.js"></script>

    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/js/about-us.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjpHCCz_urryBB3QmAc0aKCPuXq61dN18&callback=initMap"
            async defer></script>
    <script>

        var initMap = function (lat = 10.827450, lng = 106.716347) {
            var url = "https://www.google.com/maps/place/1A%2F42+Kha+V%E1%BA%A1n+C%C3%A2n,+Hi%E1%BB%87p+B%C3%ACnh+Ch%C3%A1nh,+Th%E1%BB%A7+%C4%90%E1%BB%A9c,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/10.829018,106.7179303,17z/data=!3m1!4b1!4m5!3m4!1s0x31752880fdda3ef3:0xff2b704ac88d7ce8!8m2!3d10.829018!4d106.720119";
            var mapContainer = document.querySelector("#map");
            var vietnam = { lat: lat, lng: lng };
            var option = {
                center: vietnam,
                zoom: 8,
                disableDefaultUI: true,
                zoomControl: true,
                fullscreenControl: false,
                //mapTypeControl:true,

            };
            var infowindow = new google.maps.InfoWindow({
                // nội dung của InfoWindow
                content: "1A/42 Kha Vạn Cân, Hiệp Bình Chánh, Thủ Đức, Hồ Chí Minh"

            });
            var googleMap = new google.maps.Map(mapContainer, option);
            var marker = new google.maps.Marker({ position: vietnam, map: googleMap });
            infowindow.open(googleMap, marker);
            google.maps.event.addListener(googleMap, 'center_changed', function () {
                window.setTimeout(function () {
                    googleMap.panTo(marker.getPosition());
                }, 3000);
            });
            google.maps.event.addListener(marker, 'click', function () {
                //window.location.href. = url;
                window.open(url, '_blank')
            });


        }


            //infowindow.open(map, marker);

    </script>



    <script>

    </script>






    <!-- Main Stylesheet File -->
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/css/style.css" rel="stylesheet">

    @RenderSection("CustomCss", false)





</head>
<body ng-app="commonApp" >

    @Html.Section("_Layout_Header")

        @RenderBody()
    
        @Html.Section("_Layout_Footer")



        @RenderSection("CustomJs", false)

        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
       
   
        <script>
            jQuery(document).ready(function () {
                jQuery(".chat_fb").click(function () {
                    jQuery('.fchat').toggle('slow');
                });
            });
        </script>
        <div id="cfacebook">
            <a href="javascript:;" class="chat_fb" @*onClick="return:false;"*@><i class="fa fa-envelope icon_offline_button" style="margin-left:10px"></i><span style="margin-left:10px">Để lại tin nhắn cho chúng tôi!</span><i class="fa fa-angle-up shrink_icon" style="margin-left:50px;font-size:22px;"></i></a>
            <div class="fchat">
                <div style="width:250px;" class="fb-page"
                     data-href="/https://www.facebook.com/H%C3%A0ng-Order-Ch%C3%ADnh-h%C3%A3ng-263618920843704/?modal=admin_todo_tour"
                     data-tabs="messages"
                     data-width="260"
                     data-height="280"
                     
                     data-small-header="true"/>
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote></blockquote>
                    </div>
                </div>
            </div>


        </div>



</body>

</html>