﻿<section class="page-header">
    <div class="container">
        @*<h1 class="heading">Contact</h1>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Contact</a></li>
            </ul>*@
        <div id="trailer" class="pull-right">
            <video width="430" height="258" loop controls autoplay muted>
                <source src="~/Template/BaoBiNhuaBinhMinh/Assets/video/01%20Teaser%20TVFace%20Event%20290918.mp4" type="video/mp4" />
            </video>
            @*<iframe width="430  " height="258" src="https://www.youtube.com/embed/QNr8JaBGHNo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
        </div>
    </div>
</section>