﻿#trailer {
    margin-right: 3.5%;
}

.page-header {
    background-image: url(/Template/BaoBiNhuaBinhMinh/Assets/img/2018_GMTH_BG-4MB.jpg) !important;
    background-size: 100% contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

@media only screen and (min-width: 768px) {
    .page-header {
        padding: 5.15rem .625rem 6.25rem !important;
    }
}
