﻿/*.full-width{
    width:100%;
}*/
.bg-gradient {
    background-image: linear-gradient(to right,#A3CC39, #0064A4,#00032C);
}
.process-2 .process-box .process-cell{
    height: inherit !important;
}
