﻿<div id="mobile_timeline" class="process-2 container mt-20">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="heading text-center">HÀNH TRÌNH TV FACE</h1>
        </div>
        <div class="col-lg-3 process-box">
            <div class="process-cell bg-gradient text-center">
                <span class="text-white abs-center font22">CASTING</span>
            </div>
            <div class="process-cell">
                <div class="col-md-12 text-center person-image">
                    <iframe src="https://youtube.com/embed/tFUwymFUGeI" frameborder="0" width="250" height="150"></iframe>
                </div>
                <h5 class="bold text-center">TẬP 1</h5>
                <p>Là chương trình truyền hình thực tế trong việc tìm kiếm, phát hiện, đào tạo MC truyền hình. Chương trình được phát sóng trên HTV.<br /></p>
            </div>
            <div class="col-lg-3 process-box">
                <div class="process-cell">
                    <div class="col-md-12 text-center person-image">
                        <iframe src="https://youtube.com/embed/-aFdoGaKAwE" frameborder="0" width="250" height="150"></iframe>
                    </div>
                    <h5 class="bold text-center">TẬP 2</h5>
                    <p>
                        GƯƠNG MẶT TRUYỀN HÌNH | GMTH #2 FULL | 11/10/2018
                        Là chương trình truyền hình thực tế trong việc tìm kiếm, phát hiện, đào tạo MC truyền hình. Chương trình được phát sóng trên HTV.<br>
                    </p>
                </div>
                <div class="process-cell">
                    <div class="col-md-12 text-center person-image">
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" style="width:250px; height:150px;" />
                    </div>
                    <h5 class="bold text-center">TẬP 3</h5>
                    <p>Comming soon!</p>
                </div>
            </div>
            <div class="col-lg-3 process-box">
                <div class="process-cell">
                    <div class="col-md-12 text-center person-image">
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" style="width:250px; height:150px;" />
                    </div>
                    <h5 class="bold text-center">TẬP 4</h5>
                    <p>Comming soon!</p>
                </div>
                <div class="process-cell">
                    <div class="col-md-12 text-center person-image">
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" style="width:250px; height:150px;" />
                    </div>
                    <h5 class="bold text-center">TẬP 5</h5>
                    <p>Comming soon!</p>
                </div>
            </div>
            <div class="col-lg-3 process-box">
                <div class="process-cell">
                    <div class="col-md-12 text-center person-image">
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" style="width:250px; height:150px;" />
                    </div>
                    <h5 class="bold text-center">TẬP 6</h5>
                    <p>Comming soon!</p>
                </div>
                <div class="process-cell">
                    <div class="col-md-12 text-center person-image">
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" style="width:250px; height:150px;" />
                    </div>
                    <h5 class="bold text-center">TẬP 7</h5>
                    <p>Comming soon!</p>
                </div>
            </div>
            <div class="col-lg-3 process-box">
                <div class="process-cell">
                    <div class="col-md-12 text-center person-image">
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" style="width:250px; height:150px;" />
                    </div>
                    <h5 class="bold text-center">TẬP 8</h5>
                    <p>Comming soon!</p>
                </div>
                <div class="process-cell bg-gradient text-center">
                    <span class="text-white abs-center text-white font22">TRAO GIẢI</span>
                </div>
            </div>
        </div>
    </div>
</div>