﻿<section id="services">
    <div class="container">

        <header class="section-header wow fadeInUp" id="home-new">
            <h3>Tin Tức</h3>
            @*<p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>*@
        </header>

        <div class="row">

            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><a href="/tin-tuc#tin-tuc" target="_blank">Bạn hiểu OEM, ODM và OBM là gì?</a></h4>
                <a href="/tin-tuc/a#new-detail" target="_blank" class="description"><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/Bao%20b%C3%AC%20s%E1%BA%A3n%20ph%E1%BA%A9m%20l%C3%A0%201%20d%E1%BA%A1ng%20%E2%80%9Ctruy%E1%BB%81n%20th%C3%B4ng%20t%C4%A9nh%E2%80%9D.png&w=220" alt="BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH" /></a>
                <p class="description news-detail"> Cả hai cụm từ OEM và ODM đều rất quen thuộc trong ngành sản xuất công nghiệp. OEM là viết tắt của cụm từ Original Equipment Manufacturing (tạm dịch: sản xuất thiết bị </p>
            <a href="/tin-tuc#tin-tuc" target="_blank" class="title">XEM THÊM</a>
        </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                <h4 class="title"><a href="/tin-tuc#tin-tuc" target="_blank">BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH</a></h4>
                <a href="/tin-tuc/a#new-detail" target="_blank" class="description"><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/Bao%20b%C3%AC%20s%E1%BA%A3n%20ph%E1%BA%A9m%20l%C3%A0%201%20d%E1%BA%A1ng%20%E2%80%9Ctruy%E1%BB%81n%20th%C3%B4ng%20t%C4%A9nh%E2%80%9D.png&w=220" alt="BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH" /></a>
                <p class="description news-detail">Tại INTERPACK GERMANY 2017, hơn 3.000 nhà triển lãm hàng đầu thế giới sẽ giới thiệu đến khách tham quan toàn bộ công nghệ, máy móc, trang thiết bị, nguyên vật liệu, các quy trình sản xuất bao bì đóng gói mới nhất hiện nay của thế giới. Đây thật sự là một sự kiện KHÔNG THỂ BỎ LỠ cho các Doanh Nghiệp ngành Bao bì Đóng gói Việt Nam cũng như các Doanh Nghiệp trong các ngành sản xuất Thực Phẩm, Thức </p>
                <a href="/tin-tuc#tin-tuc" target="_blank" class="title">XEM THÊM</a>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                <h4 class="title"><a href="/tin-tuc#tin-tuc" target="_blank">Xây dựng lòng trung thành với thương hiệu (Brand Loyalty )</a></h4>
                <a href="/tin-tuc/a#new-detail" target="_blank" class="description"><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/Bao%20b%C3%AC%20s%E1%BA%A3n%20ph%E1%BA%A9m%20l%C3%A0%201%20d%E1%BA%A1ng%20%E2%80%9Ctruy%E1%BB%81n%20th%C3%B4ng%20t%C4%A9nh%E2%80%9D.png&w=220" alt="BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH" /></a>
                <p class="description news-detail">Nếu biết cách định vị đúng, tạo sự khác biệt sẽ giúp thương hiệu trở nên mạnh mẽ hơn . Định vị thương hiệu thường thông qua các giá trị sau: Quality positioning Value positioning Feature-driven ...</p>
                <a href="/tin-tuc#tin-tuc" target="_blank" class="title">XEM THÊM</a>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="/tin-tuc#tin-tuc" target="_blank">Nhà cung ứng bao bì của doanh nghiệp lớn</a></h4>
                <a href="/tin-tuc/a#new-detail" target="_blank" class="description"><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/Bao%20b%C3%AC%20s%E1%BA%A3n%20ph%E1%BA%A9m%20l%C3%A0%201%20d%E1%BA%A1ng%20%E2%80%9Ctruy%E1%BB%81n%20th%C3%B4ng%20t%C4%A9nh%E2%80%9D.png&w=220" alt="BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH" /></a>
                <p class="description news-detail">
                    Công ty Bình Minh đã cung ứng hơn 2 tỷ mét màng ghép mỗi năm, từng bước đứng vững trên thị trường bao bì màng ghép phức hợp.Bao bì Bình Minh, khởi bước khởi bước thành công. Bình Minh là thời điểm bắt đầu một ngày tươi đẹp.
                </p>
              
                <a href="/tin-tuc#tin-tuc" class="title" target="_blank">XEM THÊM</a>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                <h4 class="title"><a href="/tin-tuc#tin-tuc" target="_blank">Ngành công nghiệp bao bì Việt Nam: Từ tiềm năng, cơ hội đến thách thức</a></h4>
                <a href="/tin-tuc/a#new-detail" target="_blank" class="description"><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/Bao%20b%C3%AC%20s%E1%BA%A3n%20ph%E1%BA%A9m%20l%C3%A0%201%20d%E1%BA%A1ng%20%E2%80%9Ctruy%E1%BB%81n%20th%C3%B4ng%20t%C4%A9nh%E2%80%9D.png&w=220" alt="BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH" /></a>
                <p class="description news-detail">Ngành công nghiệp bao bì Việt Nam nếu muốn tăng trưởng sẽ phải đối đầu với những thách thức lớn về công nghệ, đòi hỏi các doanh nghiệp phải tăng cường hiện...</p>
                <a href="/tin-tuc#tin-tuc" class="title" target="_blank">XEM THÊM</a>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><a href="/tin-tuc#tin-tuc" target="_blank">Ngành bao bì mềm đang cạnh tranh và tăng tốc</a></h4>
                <a href="/tin-tuc/a#new-detail" target="_blank" class="description"><img src="http://www.baobibinhminh.net/resize.php?f=/uploads/Bao%20b%C3%AC%20s%E1%BA%A3n%20ph%E1%BA%A9m%20l%C3%A0%201%20d%E1%BA%A1ng%20%E2%80%9Ctruy%E1%BB%81n%20th%C3%B4ng%20t%C4%A9nh%E2%80%9D.png&w=220" alt="BAO BÌ LÀ MỘT GIẢI PHÁP TRUYỀN THÔNG TĨNH" /></a>
                <p class="description news-detail">Bộ Tài chính đã quyết định áp mức thuế nhập khẩu hạt nhựa PP là 3% kể từ 01/01/2017. Theo tính toán sơ bộ của VPA, với giá nhập khẩu hiện tại, nếu tăng thuế nhập khẩu lên 3% thì chi phí phát sinh do tăng giá nhập khẩu mà các doanh nghiệp nội phải trả cho doanh nghiệp xuất khấu trong khu vực FTA năm 2017 sẽ là 1.870 tỷ đồng. Do đó, ngoài áp lực giá hạt nhựa sẽ </p>
                <a href="/tin-tuc#tin-tuc" class="title" target="_blank">XEM THÊM</a>
            </div>

        </div>

    </div>
</section>