﻿

ul.mainmenu > li {
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    line-height: 19px;
}

    ul.mainmenu > li > a {
        display: block;
        padding-left: 12px;
        background: url(../images/icon-1.png) no-repeat top left;
        font-size: 15px;
        color: #000;
    }

    ul.mainmenu > li a:hover, ul.mainmenu > li.active > a {
        color: #00a650;
    }

    ul.mainmenu > li > ul {
        border-top: 1px solid #ececec;
        padding-left: 15px;
        padding-top: 8px;
        margin-top: 8px;
        display: none;
    }

    ul.mainmenu > li.active > ul {
        display: block;
    }

    ul.mainmenu > li > ul > li {
        padding: 5px 0;
    }

        ul.mainmenu > li > ul > li > a {
            display: block;
            padding-left: 10px;
            background: url(../images/icon-re.jpg) no-repeat top left;
            font-size: 14px;
            color: #000;
        }




h2.titleAbility {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: normal;
    font-family: 'Roboto Condensed';
    font-size: 28px;
    line-height: 30px;
    color: #00a650;
    padding: 7px 0;
    border-bottom: 1px solid #cfcfcf;
}



h3.titleAbility {
    height: 43px;
    line-height: 43px;
    padding: 0 5px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    background: #00a650;
}




#img-sale-maketting {
    height: 450px;
    width: 722px;
}
.clear {
    clear: both;
}
img {
    border: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contain {
    width: 1020px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}


.content {
    padding-top: 30px;
    /*padding-left:100px;
    padding-right:100px;
    padding-bottom:30px;*/
    /*background: url(../images/bgcontent.jpg) repeat-x top;*/
}

    .content img {
        max-width: 1020px;
    }

.contentl {
    float: left;
    width: 220px;
}

.contentr {
    float: right;
    width: 780px;
}

h2.titleNews {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: normal;
    /*font-family: 'Roboto Condensed';*/
    font-size: 28px;
    line-height: 30px;
    color: #00a650;
    padding: 7px 0;
    border-bottom: 1px solid #cfcfcf;
    font-weight:bold;
}

.contentl {
    float: left;
    width: 220px;
   
}

.contentr {
    float: right;
    width: 750px;
}

 .contentr img {
        max-width: 780px;
    }





ul.newsmenu {
    padding: 10px;
    padding-top: 0;
    border: 1px solid #ececec;
}

    ul.newsmenu > li {
        padding: 10px 0;
        border-bottom: 1px solid #ececec;
        line-height: 19px;
        font-size: 14px;
    }

        ul.newsmenu > li > a {
            color: #000;
            font-weight:500;
        }

            ul.newsmenu > li > a:hover {
                color: #00a650;
            }

.news {
    padding-bottom: 15px;
    line-height: 19px;
    color: #000;
    font-size: 13px;
}

.news_img {
    float: left;
    width: 230px;
    float: left;
    margin-right: 15px;
    text-align: center;
    padding: 4px;
    border: 1px solid #ececec;
}

.news_imgs {
    height: 150px;
    overflow: hidden;
    display: block;
}

    .news_imgs img {
        width: 100%;
        min-height: 100%;
    }

.news_date {
    margin-bottom: 8px;
    line-height: 21px;
    font-size: 13px;
    font-weight: normal;
    color: #999;
    font-style: italic;
}

.news_name {
    margin-bottom: 5px;
    font-size: 14px;
    /*line-height: 23px;*/
    color: #116f42;
    /*font-family: 'Roboto Condensed';*/
    font-weight: normal;
}

    .news_name a {
        color: #116f42;
    }

        .news_name a:hover {
            color: #027cee;
        }

.news a.viewnews {
    color: #F00;
}

    .news a.viewnews:hover {
        color: #039;
    }

h3.titleNews {
    height: 43px;
    line-height: 43px;
    padding: 0 5px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    /*font-family: 'Roboto Condensed';*/
    font-size: 20px;
    background: #00a650;
    font-weight: bold;
}

a.viewdt {
    display: inline-block;
    margin-top: 5px;
    padding: 4px 25px;
    line-height: 19px;
    background: #00a650;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
}

    a.viewdt:hover {
        background: #01cf64;
        color: #fff;
    }


.contactl {
    float: left;
    width: 52%;
    margin-bottom: 15px;
}

.contactr {
    float: right;
    width: 46%;
}


.pagination {
    padding: 5px 10px;
    margin: 20px 0 0 0;
    clear: left;
    float:right;
}

    .pagination a {
        color: #666;
        padding: 3px 8px;
        background: #cfcfcf;
        text-decoration: none;
        border-radius: 3px;
        margin-right:3px;
    }

        .pagination span, .pagination a:hover {
            padding: 3px 8px;
            background: #ed1c24;
            color: #fff;
            border-radius: 3px;
        }

h3.title_other {
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cfcfcf;
    font-size: 18px;
    /* font-family: 'Roboto Condensed Bold'; */
    font-weight: normal;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

h3.titlnews {
    /* font-family: 'Roboto Condensed'; */
    /* font-weight: normal; */
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
    padding: 0;
    line-height: 25px;
    font-weight: bold;
    /* color: cadetblue; */
    color: black;
}
ul.news_related {
    list-style: none;
}

ul.news_related li {
        padding-left: 8px;
        line-height: 17px;
        background: url(../images/icon-re.jpg) no-repeat left top;
        list-style: none;
        padding-bottom: 5px;
        font-size:12px;
    }

    ul.news_related li a {
        color: #000;
        font-weight: 500;
    }
  ul.news_related li a:hover {
                /*color: #000;*/
                text-decoration: underline;
            }
.product_other{
    padding-bottom:20px;
}
/*////////////////// */

div.card.blog-card > div.card-body > div.blog-media {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/Template/LandingFace/Assets/img/photo-1-1492430996077.png);
    background-position: top center;
}

div.text-muted {
    font-size: 0.8em;
}

.date-time {
    color: #0066A4;
}

.btn {
    background: linear-gradient(to right,#0066A4, #00032C);
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

    .btn:hover {
        background: linear-gradient(to right,#A3CC39,#0066A4, #00032C);
    }

@media only screen and (max-width: 376px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 170px;
    }
    #img-sale-maketting {
        height: 261px;
        width: 327px;
    }

    .heading {
        padding-top: 10px;
    }
    .contentl {
        float: left;
        width: 320px;
        padding-left: 20px;
    }
    .contentr {
        float: right;
        width: 340px;
    }
}

@media only screen and (max-width: 361px) and (min-width:321px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 160px;
    }

    .heading {
        padding-top: 10px;
    }

    .contentl {
        float: left;
        width: 323px !important;
        padding-left: 13px !important;
    }

    .contentr {
        float: right;
        width: 330px !important;
    }
    #img-sale-maketting {
        height: 276px;
        width: 315px;
    }
}

@media only screen and (max-width: 321px) and (min-width:230px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 136px;
    }
    #img-sale-maketting {
        height: 200px;
        width: 262px;
    }

    .heading {
        padding-top: 10px;
    }

    .contentl {
        float: left;
        width: 276px;
        padding-left: 20px;
    }

    .contentr {
        float: right;
        width: 278px;
    }
}

@media only screen and (max-width: 480px) and (min-width:421px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 168px;
    }

    .heading {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 420px) and (min-width:376px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 188px;
    }

    .heading {
        padding-top: 10px;
    }

    .contentl {
        float: left;
        width: 380px !important;
        padding-left: 20px !important;
    }

    .contentr {
        float: right;
        width: 373px !important;
    }

    #img-sale-maketting {
        height: 282px;
        width: 354px;
    }
}

@media only screen and (max-width: 768px)and (min-width:480px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 257px;
    }

    .heading {
        padding-top: 10px;
    }

    #img-sale-maketting {
        height: 411px;
        width: 467px;
    }
  
}
/*@media only screen and (max-width: 640px){
    .contentr {
        float: right;
        width: 393px;
    }
}*/

@media only screen and (max-width: 824px) and (min-width:769px) {
    .contentr {
        float: right;
        width: 555px;
    }

    .news_name {
        margin-bottom: 5px;
        font-size: 10px;
    }
    #img-sale-maketting {
        height: 450px;
        width: 530px;
    }
}
@media only screen and (max-width: 768px)and (min-width:641px) {
    .contentr {
        float: right;
        width: 480px;
    }
    .news_name {
        margin-bottom: 5px;
        font-size: 10px;
    }
}
@media only screen and (max-width: 640px)and (min-width:569px) {
    .contentr {
        float: right;
        width: 393px;
    }
    .news_name {
        margin-bottom: 5px;
        font-size: 10px;
    }
    #img-sale-maketting {
        height: 411px;
        width: 384px;
    }
}

@media only screen and (max-width: 568px)and (min-width:481px) {
    .contentr {
        float: right;
        width: 323px;
    }
    .news_name {
        margin-bottom: 5px;
        font-size: 10px;
    }
    #img-sale-maketting {
        height: 250px;
        width: 300px;
    }
}
@media only screen and (max-width: 668px)and (min-width:641px) {
    .contentr {
        float: right;
        width: 415px;
    }

    .news_name {
        margin-bottom: 5px;
        font-size: 10px;
    }
    #img-sale-maketting {
        height: 411px;
        width: 400px;
    }
}

@media only screen and (max-width:1015px)and (min-width:915px) {
    .contentr {
        float: right;
        width: 625px;
    }

    .news_name {
        margin-bottom: 5px;
        font-size: 10px;
    }
}













  






