﻿@using Unideli.ViewServices
@{
    var menuHeader = new BlogCategoryViewService().GetBlogCategoriesAsMenu();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> @ViewBag.Title </title>

    <link rel="icon" type="image/png" href="~/Template/BaoBiNhuaBinhMinh/Assets/img/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!--start Bootstrap CSS-->
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("CustomCss", false)


    <!--start Font Awesome CSS-->
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/plugins/font-awesome-5.0.13/css/fontawesome-all.min.css" rel="stylesheet" />
    <!--end Font Awesome CSS-->
    <!--EDUComp Stylesheets -->
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/css/vendors.min.css" type="text/css" rel="stylesheet">
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/css/style.min.css" type="text/css" rel="stylesheet" id="style">
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/css/components.min.css" type="text/css" rel="stylesheet" id="components">
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/css/swiper.min.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/css/color-switch.css" type="text/css" rel="stylesheet" id="switch-css">
    <!--Custom CSS-->
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/CustomCss/CustomCss.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Layout_Header/_Layout_Header.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Layout_Footer/_Layout_Footer.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/css/owl.carousel.min.css" rel="stylesheet" />

</head>
<body ng-app="commonApp">



    @Html.Section("_Layout_Header", menuHeader)

    @RenderBody()
    @Html.Section("_Layout_Footer")

    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/Scripts/popper.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/Scripts/bootstrap.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/Scripts/swiper.min.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Assets/Scripts/owl.carousel.min.js"></script>
    @RenderSection("CustomJs", false)
</body>
</html>