﻿<section id="facts" class="wow fadeIn">
    <div class="container">

        <header class="section-header">
            <h3>Số Lượt Người Truy Cập</h3>
            @*<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>*@
        </header>

        <div class="row counters">

            <div class="col-lg-4 col-6 text-center">
                <span data-toggle="counter-up">274</span>
                <p>Đang Online</p>
            </div>

            <div class="col-lg-4 col-6 text-center">
                <span data-toggle="counter-up">421</span>
                <p>Hôm Qua</p>
            </div>

            <div class="col-lg-4 col-12 text-center">
                <span data-toggle="counter-up">1,364</span>
                <p>Lượt Truy Cập</p>
            </div>

            @*<div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">18</span>
                <p>Hard Workers</p>
                    </div>*@

        </div>

        <div class="facts-img">
            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/banner 10 nam_1020x433.png" alt="" class="img-fluid">
        </div>

    </div>
</section>
