﻿<div class="news container mt-40">
    <div class="news-header row">
        <h1 class="text-center col-lg-12 text-white">TIN TỨC</h1>
    </div>
    <div class="news-body row text-white">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-md-5" style="background-image: url(https://cdn.tuoitre.vn/thumb_w/586/2018/10/19/3-huan-luyen-vien-1539933053339331931510.jpg)">                      
                        @*<img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/photo-1-1492430996077.png" />*@
                </div>
                <div class="news-content col-md-6">
                    <h5 class="text-white">Đào tạo MC từ truyền hình thực tế: Dạy gì cho đúng?</h5>
                    <p class="news-detail">
                        TTO - Chương trình truyền hình thực tế tìm kiếm, đào tạo và phát triển tài năng MC - Gương mặt truyền hình đã lên sóng HTV. Sau mùa đầu tiên chưa để lại nhiều ấn tượng, sự đổi mới trong mùa thứ hai đang mang lại hiệu ứng ban đầu
                    </p>
                    <a href="https://tuoitre.vn/dao-tao-mc-tu-truyen-hinh-thuc-te-day-gi-cho-dung-2018101914363858.htm" target="_blank" class="text-white">Xem thêm</a>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-md-5" style="background-image: url(http://static2.yan.vn/YanNews/2167221/201810/phan-ung-cua-bien-tap-vien-tan-tai-khi-bi-khan-gia-chi-trich-b3bf89d1.jpg)">
                    @*<img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/photo-1-1492430996077.png" />*@
                </div>
                <div class="news-content col-md-6">
                    <h5 class="text-white">Bị chỉ trích vì đóng vai ác, HLV Gương mặt truyền hình 2018 bất ngờ lên tiếng</h5>
                    <p class="news-detail">Vì quá căng thẳng với các thí sinh nên HLV đã bị khán giả bức xúc và chỉ trích. Tuy nhiên, xét ở một khía cạnh khác họ cũng đang dồn hết tâm huyết của mình cho lớp trẻ.</p>
                    <a href="http://www.yan.vn/phan-ung-cua-hlv-guong-mat-truyen-hinh-khi-bi-khan-gia-chi-trich-v-183277.html" target="_blank" class="text-white">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="news-footer">
        <a href="/tin-tuc">
            <h5 class="text-center text-white">Xem thêm</h5>
        </a>
       
    </div>
</div>
