﻿.news{
    background-image: linear-gradient(to right,#A3CC39, #0064A4,#00032C);
    /*margin:0 5%;*/
}
/*.container-fluid{
    width:90%!important;
}*/


.news-body > div > div > div {
    background-repeat: no-repeat;
    background-size: contain;
   margin: 2%;
    height: 200px;
}

.news-body .news-content h5 {
    font-weight: 700;
}

/*.news-body img{
    float:right;
    width:100%;
}*/
.news-body a:hover {
    color: #BCBEC0;
    cursor:pointer;
}

.news-body .news-content .news-detail {
    font-size: 0.87rem;
}

.news-footer {
    border-top: solid 2px rgba(255,255,255,0.5);
    color: #ffffff;
    margin: 20px 5px 0px;
    padding-bottom: 1%;
    padding-top: 1%;

}
.news-footer h5:hover {
   color: #BCBEC0;
   cursor:pointer;
}
/*.news-body i {
   font-size: 12px;
   color: #ffffff;

}*/

.news-content h3{
    min-height:100px;
}
.news-content p{
    /*height:100px;*/
    overflow:hidden;
}

@media only screen and (min-width: 768px) {
    .news-body > div > div > div{
        margin: 0;
        height: inherit;
        margin-left: 3%;
    }
}