﻿.infoBox {
    text-align: left;
    background-color:white;
    padding: 10% 2% 10% 7%;
    color: #808285;
    width: 90%;
    float: right;
}

.infoBoxRight {
    text-align: left;
    color: #808285;
}

.sub-info {
    font-size: 14px;
    width: 100%;
}

.sub-title {
    font-size: 22px;
}

.example-1 {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 370px;
    bottom:0;
    right:0;
    width: 85%;
    overflow-wrap: break-word;
}
@media only screen and (max-width: 768px){
    .example-1{
        position:unset;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        width:100%;
    }
    .infoBox{
        width: 100%;
    }
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #808285;
    border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #A8C630;
}
