﻿@model DataService.ViewModels.BlogPostViewModel
<section class="mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="heading text-center" style="font-weight: 700">
                    PROFILE THÍ SINH
                </h2>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-lg-5 col-lg-offset-3">
                <div class="infoBox">
                    <h2 style="font-weight: 700">@Model.Title</h2>
                    @*<div class="sub-title"><p>Nghệ danh</p></div>*@
                    <div class="sub-info mt-40">
                        @Html.Raw(Model.Opening)
                    </div>
                    <div class="sub-info mt-40"><p><b>Công việc hiện tại: </b>@Model.PageTitle</p></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="example-1 scrollbar-ripe-malinka infoBoxRight">
                    <div class="sub-title"><p><b>Kinh nghiệm MC</b></p></div>
                    <div class="sub-info">
                       @Html.Raw(Model.Opening_En)
                    </div>
                    <div class="sub-title"><p><b>Thành tích cá nhân nổi bật</b></p></div>
                    <div class="sub-info">
                        @Html.Raw(Model.BlogContent)
                    </div>
                    <div class="sub-title"><p><b>Giới thiệu bản thân</b></p></div>
                    <div class="sub-info">
                        @Html.Raw(Model.BlogContent_En)
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
