﻿@model DataService.ViewModels.BlogPostViewModel
@{
    var urlImage = TemplateConfig.ImageDomain;
}
<section class="Profile_banner">
    <div class="row m-r-0">
        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url('@urlImage@Model.LinkRef1');"></div>
                    <div class="swiper-slide" style="background-image: url('@urlImage@Model.LinkRef2');"></div>
                    <div class="swiper-slide" style="background-image: url('@urlImage@Model.LinkRef3');"></div>
                    @if (string.IsNullOrEmpty(@Model.LinkRef3))
                    {
                        <div class="swiper-slide" style="background-image: url('@urlImage@Model.LinkRef4');"></div>
                    }
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination">
                    <span class="swiper-pagination-bullet"></span>
                    <span class="swiper-pagination-bullet"></span>
                    <span class="swiper-pagination-bullet"></span>
                    @if (string.IsNullOrEmpty(@Model.LinkRef3))
                    {
                        <span class="swiper-pagination-bullet"></span>
                    }
                </div>

            </div>
        </div>
        <div class="slider2">
            <div class="vote-above">
                <div id="vote-button" data-toggle="modal" data-target="#exampleModal">
                    BÌNH CHỌN
                </div>
            </div>
            <div class="horizontal-line">
                ___________
            </div>
            <div class="vote-below">

                <div class="facebook-button" data-layout="button" data-size="small" data-mobile-iframe="false"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@HttpContext.Current.Request.Url.AbsoluteUri"><img class="img-share" src="~/Template/BaoBiNhuaBinhMinh/Assets/img/face.PNG" /></a></div>

                <div class="twitter-button" data-layout="button" data-size="small" data-mobile-iframe="false"><a target="_blank" href="http://twitter.com/share?text=Init%20HTML%20%E2%80%93%20Kh%E1%BB%9Fi%20%C4%91%E1%BA%A7u%20d%E1%BB%B1%20%C3%A1n%20Web&amp;url=@HttpContext.Current.Request.Url.AbsoluteUri"><img class="img-share" src="~/Template/BaoBiNhuaBinhMinh/Assets/img/twitter.PNG" /></a></div>

                <div class="ggPlus-button" data-layout="button" data-size="small" data-mobile-iframe="false"><a target="_blank" href="https://plus.google.com/share?url=@HttpContext.Current.Request.Url.AbsoluteUri"><img class="img-share" src="~/Template/BaoBiNhuaBinhMinh/Assets/img/ggPlus.PNG" /></a></div>

            </div>
        </div>
    </div>
</section>
<!-- Modal -->
