﻿.facebook-button:hover, .twitter-button:hover, .ggPlus-button:hover, .vote-button:hover {
    cursor:pointer;
} 
.swiper-container {
    width: 100%;
    height: 100%;
}
.Profile_banner
{
    background-color:#f7f7f7;
}

/*.active {
    background-color: #717171;
}
}*/
.swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.m-r-0{
    margin-right:0!important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-image: url(free-abstract-background-11-vector.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center center;
}


.slider {
    width: 74%;
    height: 590px;
    float: left;
}

.slider2 {
    width: 26%;
    height: 590px;
    background-image: url(/Template/BaoBiNhuaBinhMinh/Assets/img/2018_GMTH_BG-4MB.jpg);
    float: left;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 449px) {
    .slider {
        width: 100%;
        height: 400px;
    }

    .slider2 {
        width: 100%;
        height: 350px;
    }

    .swiper-slide {
        background-size: contain;
    }

    .vote-above {
        height: 90px !important;
    }

    .horizontal-line {
        height: 7px;
    }

    .vote-below {
        height: 250px !important;
    }

    .facebook-button {
        margin-top: 7% !important;
        width: 34% !important;
    }

    .twitter-button {
        width: 34% !important;
    }

    .ggPlus-button {
        width: 34% !important;
    }
    .swiper-slide {
        background-size:cover;
        background-position-y:-2px;
    }

}
@media only screen and (max-width: 1200px) and (min-width: 813px){
    .facebook-button{
        background-size: contain !important;
    }
    .twitter-button{
        background-size: contain !important;
    }
    .ggPlus-button{
        background-size: contain !important;
    }
    .swiper-slide {
        background-size: cover;
        background-position-y: -2px;
    }

}

@media only screen and (max-width: 812px) and (min-width: 450px){
    .facebook-button{
        background-size: contain !important;
        background-repeat: no-repeat;
    }
    .twitter-button{
        background-size: contain !important;
        background-repeat: no-repeat;
    }
    .ggPlus-button{
        background-size: contain !important;
        background-repeat: no-repeat;
    }
     .swiper-slide {
        background-size: contain;
    }
    .swiper-slide {
        background-size: cover;
        background-position-y: -2px;
    }

}
.vote-above {
    height: 210px;
    display: flex;
    width: 100%;
    /*            border-bottom: 0.1px solid gray;*/
}

.horizontal-line {
    color: gray;
    height: 11px;
    text-align: center;
    width: 100%;
    float: left;
}

#vote-button {
    color: white;
    font-size: 12px;
    background-color: #A3CC39;
    border-radius: 4px;
    width: 42%;
    height: 43px;
    text-align: center;
    justify-content: center;
    margin: auto;
    line-height: 3.5;
}

.vote-below {
    height: 374px;
    width: 100%;
    float: left;
}

.facebook-button {
    /*background-image: url(/Template/BaoBiNhuaBinhMinh/Assets/img/face.PNG);*/
    background-position: center;
    background-size: contain;
    border-radius: 4px;
    width: 42%;
    height: 43px;
    text-align: center;
    justify-content: center;
    /*line-height: 3.5;*/
    margin: auto;
    margin-top: 24%;
}
.img-share {
    width: 100%;
    border-radius: 4px;
    height: 43px;
}
.twitter-button {
    /*background-image: url(/Template/BaoBiNhuaBinhMinh/Assets/img/twitter.PNG);*/
    background-position: center;
    background-size: contain;
    border-radius: 4px;
    width: 42%;
    height: 43px;
    text-align: center;
    justify-content: center;
    line-height: 3.5;
    margin: auto;
    margin-top: 8%;
}

.ggPlus-button {
    /*background-image: url(/Template/BaoBiNhuaBinhMinh/Assets/img/ggPlus.PNG);*/
    background-position: center;
    background-size: contain;
    border-radius: 4px;
    width: 42%;
    height: 43px;
    text-align: center;
    justify-content: center;
    line-height: 3.5;
    margin: auto;
    margin-top: 8%;
}