﻿<section class="mt-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <p class="heading">The TV Face - Gương mặt truyền hình hình 2018</p>
                <p>
                    Cuộc chơi của những người biết nghề
                </p>
                <p>
                    Chương trình được sản xuất bởi Apex Multimedia
                </p>
                <p>
                    Passio hân hạnh là nhà đồng hàng chính cho chương trình.
                </p>
            </div>
        </div>
    </div>
</section>