﻿<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>Giới Thiệu</h3>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
        </header>


        <div class="row about-cols">

 

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="~/Template/BaoBiNhuaBinhMinh/img/about-plan.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="/gioi-thieu#gioi-thieu" target="_blank">GIỚI THIỆU</a></h2>
                    <p class="news-detail">
                        Công Ty Cổ Phần Bao bì Bình Minh được thành lập vào năm 2007, chuyên về lĩnh vực sản xuất in ấn và cung cấp các loại bao bì màng mềm phức hợp (bao bì phức hợp) dành cho
                        ngành hàng thực phẩm, bánh kẹo, dược phẩm, mỹ phẩm, hóa chất nông nghiệp, bao bì nhựa…trên các chất liệu gồm: giấy Kraft, couche, màng BOPP, PET, MCPP, MPET,
                    </p>
                    <br/>
                    <a  href="/gioi-thieu#gioi-thieu" target="_blank" class="about-us">XEM THÊM</a>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="~/Template/BaoBiNhuaBinhMinh/img/about-plan.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="/gioi-thieu#su-menh" target="_blank">SỨ MỆNH</a></h2>
                    <p class="news-detail">
                        Đối với thị trường: Cung cấp các sản phẩm – dịch vụ chất lượng cao và mang tính chuyên nghiệp cao. Bên cạnh giá trị chất lượng vượt trội, trong mỗi sản phẩm – dịch vụ đều chứa đựng những thông điệp văn hóa, nhằm thỏa mãn tối đa nhu cầu chính đáng của khách hàng. Đối với cổ đông và đối tác: Đề cao tinh thần hợp tác cùng phát triển; cam kết trở thành “Người đồng hành số 1” của các đối tác và cổ đông; luôn gia tăng các giá trị đầu tư hấp dẫn và bền vững.
                        Đối với nhân viên: Xây dựng môi trường làm việc chuyên nghiệp, năng động, sáng tạo và nhân văn; tạo điều kiện thu nhập cao và cơ hội
                    </p>
                    <br />
                    <a  href="/gioi-thieu#su-menh" target="_blank" class="about-us">XEM THÊM</a>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <img src="~/Template/BaoBiNhuaBinhMinh/img/about-plan.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-eye-outline"></i></div>

                    </div>
                    <h2 class="title"><a href="/gioi-thieu#tam-nhin" target="_blank">TẦM NHÌN</a></h2>
                    <p class="news-detail">
                        Bằng khát vọng tiên phong cùng chiến lược đầu tư - phát triển bền vững, Bình Minh phấn đấu trở thành đơn vị sản xuất có sức ảnh hưởng lớn tại Việt Nam. Bình Minh mong muốn tạo nên một thương hiệu hiện đại, thể hiện tầm vóc trí tuệ và niềm tự hào của tập thể lãnh đạo, cán bộ và công nhân viên của công ty.
                    </p>
                    <br />
                    <a  href="/gioi-thieu#tam-nhin" target="_blank" class="about-us">XEM THÊM</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="about-col">
                    <div class="img">
                        <img src="~/Template/BaoBiNhuaBinhMinh/img/about-plan.jpg" alt="" class="img-fluid">
                        <div class="icon"><i class="ion-ios-list-outline"></i></div>
                    </div>
                    <h2 class="title"><a href="/gioi-thieu#gia-tri" target="_blank">GIÁ TRỊ CỐT LỎI</a></h2>
                    <p class="news-detail">
                        Tín: Bình Minh bảo vệ chữ Tín như bảo vệ danh dự của chính mình; Luôn chuẩn bị đầy đủ năng lực thực thi và nỗ lực hết mình để đảm bảo đúng cam kết.Tâm: Bình Minh đặt
                    </p>
                    <br />
                    <a  href="/gioi-thieu#gia-tri" target="_blank" class="about-us">XEM THÊM</a>
                </div>
            </div>



        </div>

    </div>
</section>