﻿

.clear {
    clear: both;
}



.contain {
    width: 1020px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}


.content {
    padding-top: 30px;
    /*background: url(../images/bgcontent.jpg) repeat-x top;*/
    /*padding-left:250px;
    padding-right:250px;*/
    padding-bottom:30px;
}

@media (max-width:1025px){
  
}

   