﻿ 
<div class="container mt-20 mb-120">
    <h2 class="heading text-center">ĐỒNG HÀNH</h2>
    <div class="main-sponsors mt-80">
        <div class="row">
            <div class="col-lg-6 text-center">
                <span>Sản xuất bởi</span>
                <ul class="affiliations">
                    <li>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" id="htv" class="img-responsive" alt="HTV">
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-06.png" id="apex" class="img-responsive" alt="APEX">
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 text-center">
                <span>Nhà tài trợ chính</span>
                <ul class="affiliations">
                    <li><img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-07.png" id="passio" class="img-responsive" alt="PASSIO COFFEE"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sub-sponsors mt-40">
        <div class="row">
            <div class="col-md-offset-1 col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-adora-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-phglock-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-suitstudio-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-larenn-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-ami-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-offset-1 col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-mc142-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-elasen-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-otokechicken-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-dongphuonggroup-adora-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-sbj-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-offset-1 col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-asanzo-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-adammuzic-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-prosound-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-fnbtraining-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web_thecakefactory-01.png" alt="Sponsors" class="web-logo" />

            </div>

            <div class="col-md-offset-3 col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-regem-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-pam-01.png" alt="Sponsors" class="web-logo" />

            </div>
            <div class="col-md-2 col-xs-6 text-center">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/web-apex-01.png" alt="Sponsors" class="web-logo" />

            </div>

        </div>
    </div>
</div>