﻿.main-sponsors .affiliations > li > img#apex {
    width: 40%;
    height: 70px;
}

.main-sponsors .affiliations > li > img#htv {
    width: 55%;
    height: 70px;
}

.main-sponsors .affiliations > li > img#passio {
    width: 80%;
    height: 70px;
}

.main-sponsors {
    color: #808285;
    font-weight: 600;
}


    .main-sponsors .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: inline-block;
    }

/*.sub-sponsors img {
    width: 50%;
}*/
img.web-logo {
    width: 150px;
    height: 90px;
    margin-top: 20px;
}
