﻿
<footer class="footer">
    <!-- Footer -->
    <div class="footer-pri">
        <!-- Primary Footer -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 footer-widget text-center">
                    <!-- Footer Widget - Affiliations -->
                    <span class="text-white">Sản xuất bởi</span>
                    <ul class="affiliations">
                        <li>
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/Logo-05.png" id="htv" class="img-responsive" alt="HTV">
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/Logo-06.png" id="apex" class="img-responsive" alt="APEX">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 footer-widget text-center">
                    <!-- Footer Widget - Affiliations -->
                    <span class="text-white">Nhà tài trợ chính</span>
                    <ul class="affiliations">
                        <li><img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/Logo-07.png" id="passio" class="img-responsive" alt="PASSIO COFFEE"></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-lg-6 col-md-6 col-sm-12 footer-widget text-center">
                    <!-- Footer Widget - Affiliations -->
                    <span class="text-normal text-white">© “Gương mặt truyền hình” – The TV Face 2018 là chương trình truyền hình thực tế đầu tiên tại Việt Nam trong việc tìm kiếm, phát hiện, đào tạo MC truyền hình.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sec">
        <!-- Secondary Footer -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span class="copyright">&copy; Copyright The TV Face</span>           <!-- Copyright Text -->
                </div>
            </div>
        </div>
    </div>
</footer>
