﻿.footer-pri {
    border-top: none;
    background-color: #0C142C;
    text-transform: uppercase;
}

.footer-sec {
    padding: inherit;
}

ul.affiliations > li > img#apex {
    width: 40%;
    height: 50px;
}

ul.affiliations > li > img#htv {
    width: 55%;
    height: 70px;
}

ul.affiliations > li > img#passio {
    width: 80%;
    height: 70px;
}

.footer .text-normal {
    text-transform: none;
}

.footer .offset-3 {
    margin-left: 0;
}

.footer .container {
    font-weight: normal
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .footer .offset-3 {
        margin-left: 25%;
    }
}
