﻿.vote{
    margin-top:100px;
}
.vote img{
    width:80px;
    height:80px;
    border-radius:50%;
}

.voted-btn {
    background-color: #BCBEC0;
    display: block;
    padding: 6px 10px;
    color: #ffffff;
    margin-top: 28px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.vote-btn{
    display: block;
    padding: 6px 10px;
    background: linear-gradient(to right,#0066A4, #00032C);
    color:#ffffff;
    margin-top:28px;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
}
    .vote-btn:hover {
        text-decoration: none;
        background: linear-gradient(to right,#A3CC39,#0066A4, #00032C);
        color:#ffffff;
    }

.vote-body h3{
    margin-bottom:0px;
}

.vote-content {
    margin-top:50px;
}

.vote-body{
    margin-bottom:100px;
}

.card {
    box-shadow: 5px 5px 10px #BCBEC0;
}
    .card h4, .card p {
        color: #808285;
        margin-bottom:0;
    }
.card h4{
    margin-top: 15px;
}
.card .row{
    margin-top:20px;
}

@media screen and (min-width:768px) {
    .card .card-body .row .col-md-6 {
        padding-left: 35px;
    }
    .card img{
        margin-top:10px;
    }
}
@media screen and (max-width:768px) {
    .card-body{
        text-align:center;
    }
    .vote-content-2{
        margin-top: 50px;
    }
}

