﻿@model List<DataService.ViewModels.BlogPostViewModel>
@{
   
    var urlImage = TemplateConfig.ImageDomain;
}
<div class="vote container-fluid" id="vote">
    <div class="vote-header">
        <h1 class="text-center">TOP 10</h1>
    </div>

    <div class="vote-body row">
        <div class="container">
            <div class="vote-content row">
                <div class="vote-content-1 col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            @for (var i = 0; i < Model.Count() / 2; i++)
                            {
                                var item = Model.ElementAt(i);
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="@urlImage@item.Image" />
                                    </div>
                                    <div class="col-md-6 align-self-center">
                                        <h4>@item.Title</h4>
                                        <p>@item.PageTitle</p>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="vote-btn text-center" onclick="viewProfile('@item.SeoName')">CHI TIẾT</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="vote-content-2 col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            @for (var i = Model.Count() / 2; i < Model.Count(); i++)
                            {
                                var item = Model.ElementAt(i);
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="@urlImage@item.Image" />
                                    </div>
                                    <div class="col-md-6 align-self-center">
                                        <h4>@item.Title</h4>
                                        <p>@item.PageTitle</p>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="vote-btn text-center" onclick="viewProfile('@item.SeoName')">CHI TIẾT</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>