﻿<section id="testimonials" class="section-bg wow fadeInUp">
    <div class="container">

        <header class="section-header">
            <h3>Tuyển Dụng</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <a href="/sale-marketing#sale-marketing" target="_blank">   <img src="http://www.baobibinhminh.net/resize.php?f=/uploads/TuyenDung/SALES.png&w=220" class="testimonial-img" alt=""></a>
                <a href="/sale-marketing#sale-marketing" target="_blank">
                    <h3>NHÂN VIÊN SALES-MARKETING</h3>
                    </a>

                    @*<h4>Ceo &amp; Founder</h4>*@
                    <p>
                      <img src="~/Template/BaoBiNhuaBinhMinh/img/quote-sign-left.png" class="quote-sign-left" alt=""> </a>
                        Ban đang sở hữu các kỹ năng quan trọng như một CHIẾN BINH?... <span style="color:#00a650;font-weight:bold;font-size:9px;"> <a href="/sale-marketing#sale-marketing" target="_blank">XEM THÊM</a></span>
                       <img src="~/Template/BaoBiNhuaBinhMinh/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                   </div>

            <div class="testimonial-item">
                <a href="/nhanvien-KCS#nhanvien-kcs" target="_blank">
                    <img src="http://www.baobibinhminh.net/resize.php?f=/uploads/TuyenDung/KCS(1).png&w=220" class="testimonial-img" alt="">
                </a>
                <a href="/nhanvien-KCS#nhanvien-kcs" target="_blank">
                    <h3>NHÂN VIÊN KCS</h3>
                    </a>
                    @*<h4>Designer</h4>*@
                    <p>

                        <img src="~/Template/BaoBiNhuaBinhMinh/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Yêu cầu:
                        - Giới tính: Nam
                        - Tốt Nghiệp Đại học Bách Khoa, Khoa học tự nhiên chuyên ngành hóa...<span style="color:#00a650;font-weight:bold;font-size:9px;">  <a href="/nhanvien-KCS#nhanvien-kcs" target="_blank">XEM THÊM</a></span>
                        <img src="~/Template/BaoBiNhuaBinhMinh/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
            </div>

            <div class="testimonial-item">
                <a href="/nhanvien-kythuat#nhanvien-kythuat" target="_blank">
                    <img src="http://www.baobibinhminh.net/resize.php?f=/uploads/TuyenDung/DIEN.png&w=220" class="testimonial-img" alt="">
                </a>
                <a href="/nhanvien-kythuat#nhanvien-kythuat" target="_blank">
                    <h3>TRƯỞNG PHÒNG KỸ THUẬT-ĐIỆN TỰ ĐỘNG</h3>
                    </a>
                    @*  <h4>Store Owner</h4>*@
                    <p>
                        <img src="~/Template/BaoBiNhuaBinhMinh/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Vị trí tuyển dụng : Trưởng Phòng Kỹ Thuật - Điện Tự Động;
                        Số lượng : 1;
                        Giới tính : Nam;...<span style="color:#00a650;font-weight:bold;font-size:9px;"> <a href="/nhanvien-kythuat#nhanvien-kythuat" target="_blank">XEM THÊM</a></span>
                        <img src="~/Template/BaoBiNhuaBinhMinh/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
            </div>


        </div>

    </div>
</section>