﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/ChatBox/chatbox.css" rel="stylesheet" />
<section id="subiz_desktop">
    <div id="subiz_right_bottom">
        <div id="blocker"></div>

        <div id="subiz_wrapper" class="subiz_wrapper_offline">

            <div id="button_compress" class="button_chat_offline color_theme_default" style="display: none;">
                <div class="fa fa-envelope icon_offline_button"></div>
                <div class="button_chat_offline_text">Để lại tin nhắn cho chúng tôi!</div>
                <div class="expand_icon fa fa-angle-up"></div>
            </div>

            <div id="widget_expand" class="widget_body color_theme_default" style="display: block;">
                <div class="offline_heading">
                    <label class="button_chat_offline_text">Để lại tin nhắn cho chúng tôi!</label><i class="fa fa-angle-down shrink_icon"></i>
                </div>
                <div class="widget_body_inner scroll">

                    <div id="subiz_loading" class="bg-loading" style="display:none">
                        <i class="img-loading"></i>
                    </div>

                    <div id="subiz_offline" style="display: block;">
                        <div>
                            <p>
                                Hiện nay chúng tôi không ở đây, xin vui lòng để lại lời nhắn.
                            </p>
                        </div>
                        <div style="display: block;">
                            <p>
                                <input type="text" class="text v_name" id="v_name_offline" placeholder="Xin mời nhập Họ tên" maxlength="100">
                            </p>
                            <p id="error_name_offline" style="display:none">
                                <font class="text_warning">Xin vui lòng nhập tên của bạn</font>
                            </p>
                        </div>
                        <div style="display: block;">
                            <p>
                                <input type="text" class="text v_email" id="v_email_offline" placeholder="Email (để tôi liên hệ với bạn)" maxlength="100">
                            </p>
                            <p id="error_email_offline" style="display:none">
                                <font class="text_warning">Xin vui lòng nhập email</font>
                            </p>
                        </div>
                        <div style="display: none;">
                            <p>
                                <input type="text" class="text v_phone" id="v_phone_offline" placeholder="Xin mời nhập số điện thoại" maxlength="100">
                            </p>
                            <p id="error_phone_offline" style="display:none">
                                <font class="text_warning">Vui lòng nhập số điện thoại của bạn</font>
                            </p>
                        </div>

                        <div id="department_edit" style="display:none">
                            <p>
                                <select id="v_department_offline_edit">
                                    <option value="">Chọn bộ phận hỗ trợ</option>
                                </select>
                            </p>
                            <p id="error_department_edit_offline" style="display:none">
                                <font class="text_warning">Chọn bộ phận hỗ trợ</font>
                            </p>
                        </div>

                        <div>
                            <p>
                                <font class="text_note">Đăng nhập bằng</font>
                                <a class="login_facebook" href="#"><i class="fa fa-facebook-square"></i></a>
                                <a class="login_google" href="#"><i class="fa fa-google-plus-square"></i></a>
                            </p>
                        </div>

                        <div>
                            <p>
                                <textarea id="v_message_offline_edit" cols="20" rows="2" placeholder="Hãy gửi tin nhắn cho chúng tôi về vấn đề của bạn:" class="textarea_offline"></textarea>
                            </p>
                            <p id="error_message_edit_offline" style="display:none">
                                <font class="text_warning">Mời bạn nhập câu hỏi</font>
                            </p>
                        </div>
                        <div class="offline_end">
                            <p>
                                <a id="send_message_offline_edit" href="javascript:;" class="btn_send_message color_theme_default">Gửi tin nhắn</a>
                            </p>
                        </div>
                    </div>

                    <div id="message_successful" style="display: none;">
                        <div>
                            <p>
                                Cảm ơn đã gửi tin nhắn. Chúng tôi sẽ sớm hồi âm lại.
                            </p>
                        </div>
                        <div>
                            <p class="message_notice">
                                <label class="top_notice">
                                    <strong class="v_name_text"></strong><br>
                                    <font class="v_email_text"></font>
                                </label>
                                <label id="message_offline_text" class="body_notice"></label>
                            </p>
                        </div>
                        <div>
                            <p>
                                <a href="javascript:;" class="btn_send_another color_theme_default">Gửi tin nhắn khác</a>
                            </p>
                        </div>
                    </div>

                    <div id="offline_active_box" style="display: none;">
                        <div>
                            <p>
                                Hiện nay chúng tôi không ở đây, xin vui lòng để lại lời nhắn.
                            </p>
                        </div>
                        <div>
                            <p class="account_active">
                                <label class="name_account_active">
                                    <strong class="v_name_text"></strong><br>
                                    <font class="v_email_text"></font>
                                </label>
                                <a id="icon_reset_contact_offline"><i class="fa fa-remove icon_delete"></i></a>
                                <a id="icon_edit_contact_offline"><i class="fa fa-pencil icon_edit"></i></a>
                            </p>
                        </div>
                        <div id="department" style="display:none">
                            <p>
                                <select id="v_department_offline">
                                    <option value="">Chọn bộ phận hỗ trợ</option>
                                </select>
                            </p>
                            <p id="error_department_offline" style="display:none">
                                <font class="text_warning">Chọn bộ phận hỗ trợ</font>
                            </p>
                        </div>
                        <div>
                            <p>
                                <textarea id="v_message_offline" cols="20" rows="2" placeholder="Hãy gửi tin nhắn cho chúng tôi về vấn đề của bạn:" class="textarea_offline"></textarea>
                            </p>
                            <p id="error_message_offline" style="display:none">
                                <font class="text_warning">Mời bạn nhập câu hỏi</font>
                            </p>
                        </div>
                        <div class="offline_end">
                            <p>
                                <a href="javascript:;" id="send_message_offline" class="btn_send_message color_theme_default">Gửi tin nhắn</a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="widget_body_footer">
                    <div id="twitter" style="display:none">
                        <a href="javascript:;" target="_blank"><i class="fa fa-twitter-square"></i></a>
                    </div>
                    <div id="facebook" style="display:none">
                        <a href="javascript:;" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    </div>
                    <a href="https://subiz.com/?utm_source=id31070&amp;utm_medium=widget&amp;utm_campaign=widget_referral" target="_blank"><i class="widget-sprites subiz_logo"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>