﻿<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 footer-links">
                    @*<h4>Useful Links</h4>*@
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#intro">Trang Chủ</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#about">Giới Thiệu</a>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#portfolio">Sản Phẩm</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#testimonials">Tuyển Dụng</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#contact">Liên Hệ</a></li>
                    </ul>
                </div>

                <div class="col-lg-5 col-md-6 footer-contact">
                    <h4>Liên Hệ</h4>
                    <p>
                        42 Kha Vạn Cân, Khu phố 3 <br>
                        P. Hiệp Bình Chánh, Q.Thủ Đức<br>
                        TPHCM <br>
                        <strong>Kinh Doanh:</strong> (+8428) 66756588<br>
                        <strong>Liên Hệ Đặt Hàng</strong> 090 317 4476 (Mr. Dũng)<br>
                        <strong>Email:</strong> isales@baobibinhminh.net<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>


                <div class="col-lg-5 col-md-6 footer-info">

                    <h3>  <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/logo.png" class="img-logo" />Công Ty Bao Bì Bình Minh</h3>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                </div>




                @*<div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
            <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
        </div>*@

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
            -->
            Best <a href="https://bootstrapmade.com/">Bootstrap Templates</a> by BootstrapMade
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top" id="backTo-top"><i class="fa fa-chevron-up"></i></a>