﻿@model List<DataService.ViewModels.BlogCategoryViewModel>
<header class="header-1">
    <!-- Header = Topbar + Navigation Bar -->
    <nav class="navbar navbar-expand-lg">
        <!-- Navigation Bar -->
        <div class="container layout">
            <div class="navbar-collapse collapse left-menu">
                <!-- Main Menu -->
                <ul class="navbar-nav">
                    @for (var i = 0; i < Model.Count() - 2; i++)
                    {
                        if (Model.ElementAt(i).SeoName.Equals("binh-chon"))
                        {
                            <li class="nav-item">
                                <a href="../#vote" class="nav-link">@Model.ElementAt(i).BlogCateName</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="/@Model.ElementAt(i).SeoName" class="nav-link">@Model.ElementAt(i).BlogCateName</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <a class="navbar-brand" href="/">
                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/TV_Logo.png" style="height: 35px" alt="">          <!-- Replace with your Logo -->
            </a>

            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-bars"></i>          <!-- Mobile Navigation Toggler Icon -->
                </span>
            </button>

            <div class="navbar-collapse collapse" id="main-navigation" style="left:0;">
                <!-- Main Menu -->
                <ul class="navbar-nav">
                    @foreach (var item in Model)
                    {
                        if (item.SeoName.Equals("binh-chon") || item.SeoName.Equals("tin-tuc"))
                        {
                            <li class="nav-item  hidden-pc">
                                <a href="@(item.SeoName.Equals("binh-chon")? "../#vote": "/"+item.SeoName)" class="nav-link">@item.BlogCateName</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item @(item.SeoName.Equals("gioi-thieu")? "m-l-0":"") ">
                                <a href="/@item.SeoName" class="nav-link">@item.BlogCateName</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>