﻿.container.layout {
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 700;
    z-index: 99999;
}

.navbar {
    margin-bottom: 0;
}

.header-1 {
    position: inherit;
    background-color: #0C142C;
}

    .header-1 .navbar-collapse {
        background-color: #0C142C;
    }

    .header-1 .navbar .nav-item .nav-link::before {
        display: none;
    }
@media only screen and (max-width: 768px) {
    .navbar-collapse.collapse.left-menu {
        display: none !important;
    }
    }
    @media only screen and (min-width: 992px) {
        .header-1 .navbar .nav-item .nav-link {
            padding: 0;
        }

        .header-1 .navbar .nav-item.hidden-pc {
            display: none;
        }

        .header-1 .navbar .nav-item + .nav-item {
            margin-left: 4.5rem;
        }

        .header-1 .navbar .navbar-brand {
            padding: .75rem 0 !important;
            height: auto !important;
        }

        .m-l-0 {
            margin-left: 0 !important;
        }
    }
