﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Profile_Modal/_Profile_Modal.css" rel="stylesheet" />
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">The TV Face</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background: linear-gradient(to right,#0066A4, #00032C);">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center">
                            <a><img style="width:50%;margin:auto;" src="~/Template/BaoBiNhuaBinhMinh/Assets/img/QR-Code.png" /></a>
                        </div>
                        <div class="col-sm-12"><h5 class="get-the-app">Tải App Để Bình Chọn!</h5></div>
                        <a href="https://itunes.apple.com/vn/app/passio-coffee/id829045542?l=vi&mt=8" class="iconDown col-sm-6 btn btn-lg" style="background-image: url('/Template/BaoBiNhuaBinhMinh/Assets/img/apple.png');"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.passiocoffee.order.passiocoffee" class="iconDown col-sm-6 btn btn-lg" style="background-image: url('/Template/BaoBiNhuaBinhMinh/Assets/img/ch-play.png');"></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btnClose btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>