﻿
.modal-footer {
    border-top: none;
}

.modal-header {
    border-bottom: none;
}

.get-the-app {
    text-align: center;
    margin: 10px;
    color: #0066A4;
    font-weight: bold;
    font-style: italic;
}

.modal-body {
    width: 80%;
    margin: auto;
    /*border: 1px solid black;*/
    height: auto;
}

.btnClose {
    background: linear-gradient(to right,#0066A4, #00032C);
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

    .btnClose:hover {
        background: linear-gradient(to right,#A3CC39,#0066A4, #00032C);
    }

.modal-title {
    color: #0066A4;
}

.iconDown {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 2.7em;
    padding-bottom: 4em;
    cursor: pointer
}

#vote-button {
    cursor: pointer
}

.modal-backdrop.hide-model {
    visibility: hidden;
    display: none
}

.modal-open > :not(.modal) {
    filter: none !important;
}