﻿@media (max-width: 641px) {
    .img-fluid-image {
        margin-left: 112px;
    }
}

@media (max-width: 736px) {
    .img-fluid-image {
        margin-left: 119px;
    }
}
@media (max-width: 415px) {
    .img-fluid-image {
        margin-left: 50px;
    }
}
@media (max-width: 376px) {
    .img-fluid-image {
        margin-left: 35px;
    }
}



