﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/_HomeProduct/_homeProduct.css" rel="stylesheet" />
<section id="portfolio" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3 class="section-title">DANH MỤC SẢN PHẨM</h3>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">TẤT CẢ</li>
                    <li data-filter=".filter-app">THỰC PHẨM</li>
                    <li data-filter=".filter-card">THỨC UỐNG</li>
                    <li data-filter=".filter-web">HÓA MỸ PHẨM</li>
                    <li data-filter=".filter-web">DƯỢC PHẨM</li>
                    <li data-filter=".filter-web">HÀNG TIÊU DÙNG</li>
                    <li data-filter=".filter-web">NÔNG SẢN</li>
                    <li data-filter=".filter-web">NÔNG DƯỢC VÀ THÚ Y</li>
                    <li data-filter=".filter-web">THỰC PHẨM ĐÔNG LẠNH</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (6).jpg" class="img-fluid-image" alt="">
                        <a href="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (6).jpg" data-lightbox="portfolio" data-title="NHÃN NẮP LY - TÔ" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">NHÃN NẮP LY - TÔ</a></h4>
                        @*<p>App</p>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (5).jpg" class="img-fluid-image" alt="">
                        <a href="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (5).jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">BAO BÌ MÌ, CHÁO, BÚN ĂN LIỀN</a></h4>
                        @*<p>Web</p>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (7).jpg" class="img-fluid-image" alt="">
                        <a href="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (7).jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">BAO BÌ BÁNH KẸO, SNACK</a></h4>
                        @*<p>App</p>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (8).jpg" class="img-fluid-image" alt="">
                        <a href="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (8).jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">BAO BÌ RAU CÂU, THẠCH DỪA</a></h4>
                        @*<p>Card</p>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (9).jpg" class="img-fluid-image" alt="">
                        <a href="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (9).jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">BAO BÌ CÀ PHÊ, NGŨ CỐC</a></h4>
                        @*<p>Web</p>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (10).jpg" class="img-fluid-image" alt="">
                        <a href="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (10).jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">BAO BÌ DƯỢC</a></h4>
                        @*<p>App</p>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (11).jpg" class="img-fluid-image" alt="">
                        <a href="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (11).jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">BAO BÌ NÔNG DƯỢC, THUỐC TRỪ SÂU</a></h4>
                        @*<p>Card</p>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (12).jpg" class="img-fluid-image" alt="">
                        <a href="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (12).jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">BAO BÌ THUỐC THÚ Y, THUỐC THỦY SẢN</a></h4>
                        @*<p>Card</p>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (13).jpg" class="img-fluid-image" alt="">
                        <a href="~/Template/BaoBiNhuaBinhMinh/Assets/product/resize (13).jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="#">BAO BÌ KHĂN GIẤY, TẢ LÓT, BĂNG VỆ SINH</a></h4>
                        @*<p>Web</p>
                    </div>*@
                </div>
            </div>

        </div>
         </div>  

    </div>
</section>