﻿<div class="container mt-80 mb-120">
    <h2 class="heading text-center">
        THÔNG CÁO BÁO CHÍ<br />
     CÔNG BỐ GƯƠNG MẶT TRUYỀN HÌNH – THE TVFACE 2018
    </h2>
    <div class="post">
        <div class="row">
            <div class="col-lg-12 mt-20">
                <i>
                    Chương trình Truyền hình thực tế dành cho nghề MC – The TVFace 2018 đang ngày càng trở nên hấp dẫn hơn với thông điệp
                    “Tinh hoa cuộc sống, đam mê bất tận”. Bước sang mùa thứ hai, với quy mô và sự đầu tư đầy tâm huyết và nghiêm túc từ ê-kip sản xuất
                    , The TVFace 2018 không chỉ tạo ra sân chơi cho những người “biết nghề MC”, mà còn khuyến khích các bạn trẻ dám ước mơ và chinh phục ước mơ của mình
                    , để chạm đến giá trị cốt lõi của người làm nghề chân chính, là tạo ra những giá trị tốt đẹp cho cuộc sống.
                </i>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-20">
                <p class="lead title text-center">GƯƠNG MẶT TRUYỀN HÌNH, LÀN GIÓ LẠ GIỮA CÁC SÂN CHƠI DÀNH CHO NGHỀ MC</p>
                <p class="text-justify">
                    Được sáng tạo bởi đội ngũ biên tập Đài truyền hình TP.HCM, đây là chương trình truyền hình thực tế, thuần Việt, thông qua những buổi đào tạo,
                    thử thách để tìm ra gương mặt MC truyền hình đích thực. Mùa đầu tiên của
                    chương trình đã diễn ra thành công với sự tham gia của hàng ngàn ứng viên từ khắp mọi miền đất nước.
                    Những gương mặt bước ra từ cuộc thi hiện đang tham gia tích cực trong các vai trò: MC, biên tập, sản xuất nội dung trong các chương trình truyền hình và xuất hiện rộng khắp tại các sự kiện.
                </p>
                <p class="text-justify nom">
                    Song song với việc điều chỉnh format, chương trình năm nay kích thích sự tò mò của đông đảo công chúng khi công bố đơn vị
                    sản xuất mới – Apex Multimedia, cũng như bộ ba huấn luyện viên quyền lực.
                </p>
                <p class="text-justify">
                    Ở format năm nay, chương trình không phân chia từng đội hình của từng huấn luyện viên, thay vào đó các gương mặt
                    tiềm năng sẽ được thụ hưởng kiến thức, kỹ năng chuyên môn từ thế mạnh của cả 3 mentor. Sau mỗi hợp phần đào tạo, các thí sinh sẽ trải qua thử thách có
                    liên quan đến nội dung được huấn luyện, phần thể hiện kém nhất sẽ phải ra về. Tính cọ sát thực tế cao, toàn bộ thử thách dành cho thí sinh đều tiệm cận
                    gần nhất với công việc thực tế như: đọc TVC quảng cáo, dẫn chương trình tại trường quay sau khi xem chương trình lên sóng truyền hình trực tiếp, dẫn sự kiện thực thụ...
                    chính là nhân tố quan trọng, gia tăng độ thực tế cũng như kịch tính cho cả người trong cuộc lẫn khán giả truyền hình. Ngoài ra, yếu tố xây dựng và phát triển hình ảnh cá
                    nhân cũng được The TVFace 2018 chú trọng thông qua việc hỗ trợ chuyên môn từ các chuyên gia hàng đầu trong các lĩnh vực: thời trang, trang điểm, nhiếp ảnh, diễn xuất...
                </p>
                <p class="text-justify">Sau vòng sơ tuyển với hơn 500 hồ sơ đăng ký trực tuyến, 120 ứng viên đã được phỏng vấn và có cơ hội tham dự buổi casting với chỉ 60 giây cho mỗi thí sinh thể hiện năng lực và thuyết phục bộ ba huấn luyện viên khó tính. 10 gương mặt tiềm năng sẽ hội tụ về trung tâm đào tạo Gương mặt truyền hình – The TVFace 2018, tham gia quá trình huấn luyện và thực hiện các thử thách loại trừ. Những gương mặt xuất sắc nhất sẽ có mặt tại đêm gala chung cuộc và tranh ngôi vị "Quán quân Gương mặt truyền hình 2018", dự kiến được tổ chức vào tháng 11.</p>
                <p class="text-justify">
                    Chương trình lên sóng chính thức vào khung giờ: 21h10 tối thứ 5 hàng tuần kênh HTV9, và bắt đầu từ ngày 4/10/2018. Trong đó, gồm 7 tập ghi hình và đêm Gala chung cuộc.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-20">
                <p class="lead title text-center">BỘ BA QUYỀN LỰC TẠO NÊN TÍNH HẤP DẪN CỦA CHƯƠNG TRÌNH</p>
                <p class="text-justify">Nếu Gương mặt truyền hình 2017 ghi dấu bởi các huấn luyện viên là những biên tập viên,  MC truyền hình giỏi nghề, thì mùa giải 2018 thể hiện rõ sự chuyển mình đầy táo bạo với bộ ba quyền lực với ba phong cách dẫn khác nhau, và có thế mạnh chuyên môn khác nhau!</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-20">
                <p class="lead title">1. MC NGUYÊN KHANG</p>
                <p class="text-justify">Với kinh nghiệm dẫn hàng trăm gameshow truyền hình trên sóng các kênh từ VTV, HTV, THVL… đến vai trò Giám đốc sản xuất cũng như làm nên thành công cho nhiều kênh radio gây sốt, sự xuất hiện của Quán quân “Sinh ra để toả sáng” chắc chắn sẽ tạo nên sự cuốn hút của mùa giải năm nay. Bề dày kinh nghiệm, năng lực chuyên môn và quan hệ cùng hàng trăm nhà sản xuất lớn nhỏ chính là những thế mạnh để Nguyên Khang khẳng định mục tiêu đến với The TVFace 2018 là truyền cảm hứng và kết nối cho những thế hệ kế thừa tài năng, giúp họ toả sáng.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-20">
                <p class="lead title ">2. BTV, MC TẤN TÀI</p>
                <p class="text-justify">
                    12 năm gắn bó với các chương trình chính luận, tin tức trên sóng HTV, Tấn Tài là gương mặt quen thuộc của khán giả màn ảnh nhỏ.
                    Anh có trình độ Thạc sĩ và hiện giữ cương vị tổ chức sản xuất chương trình và theo dõi lĩnh vực Chính trị Văn xã tại Trung tâm tin tức.
                    Được biết đến với thế mạnh biên tập và sản xuất nội dung, huấn luyện viên mùa giải 2018 cho biết anh sẽ dành trọn thời gian, tâm huyết cùng các bạn trẻ đam mê công việc dẫn
                    chương trình để có những trải nghiệm với nghề thú vị trong những tháng sắp tới.

                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-20">
                <p class="lead title ">3. MC, NGƯỜI MẪU THẢO NHI</p>
                <p class="text-justify">
                    Gia nhập showbiz hơn 10 năm, trong đó có 5 năm gắn bó với công việc MC truyền hình,
                    lần đầu tiên Thảo Nhi đảm nhận vai trò huấn luyện viên cho một chương trình truyền hình thực tế.
                    Thảo Nhi có thể xem là thế hệ người mẫu thành công nhất khi lấn sân công việc dẫn chương trình.
                    Hiện tại, Thảo Nhi xuất hiện đều đặn trong các chương trình từ tin tức đến giải trí trên sóng HTV,
                    đồng thời là stylist cho các MC của nhiều chương trình. Cô còn là một gương mặt được nhiều nhãn hàng lựa chọn cho các sự kiện,
                    đồng thời cũng là nàng thơ cho rất nhiều nhà thiết kế, bộ sưu tập, stylist, chuyên gia thời trang, makeup...

                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-20">
                <p class="lead title ">Để tìm hiểu thêm thông tin về chương trình, vui lòng liên hệ:</p>
                <p class="text-justify">
                    -   Chị:		Trần Ngọc Tường Vi
                </p>
                <p class="text-justify"> -	Điện thoại:	076 299 3313</p>
                <p class="text-justify">-	Email:		tuongvi@apexmedia.vn</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-20">
                <p class="lead title text-center">PHÍA SAU THÀNH CÔNG CỦA THE TVFACE 2018</p>
                <p class="text-justify">
                    Để làm nên thành công của một chương trình truyền hình, không thể không nhắc đến sự hỗ trợ đắc lực từ các đơn vị đồng hành, đặc biệt là đơn vị tài trợ chính và đơn vị sản xuất.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-20">
                <p class="lead title ">1. PASSIO</p>
                <p class="text-justify">
                    Có bao giờ bạn hỏi đam mê có vị gì? Đam mê mang vị đắng của thất bại và vị ngọt của thành công,
                    đó cũng chính là vị đắng của cà phê và vị ngọt của sữa. Tại Passio, chúng tôi tỉ mỉ và hết mình trong mọi công đoạn để làm nên ly cà phê ngon nhất, đó chính là cách chúng tôi thể hiện niềm đam mê của mình. Mỗi ly cà phê Passio được tạo nên từ niềm đam mê bất tận dành cho cà phê và sự trân quý của chúng tôi dành cho khách hàng.
                </p>
                <p class="text-justify">
                    Chính tinh thần Đam mê bất tận đã khiến chúng tôi vượt qua mọi thử thách, để từ 1 cửa hàng cà phê sạch, mang đi đầu tiên tại Việt Nam, chúng tôi đã mở rộng hệ thống lên hơn 50 cửa hàng trên toàn quốc, thậm chí vươn ra thế giới với cửa hàng tại Trung Quốc và Malaysia. Chúng tôi không ngừng cải tiến nhằm mang đến trải nghiệm tốt nhất cho khách hàng. Không chỉ đa dạng hóa sản phẩm, Passio còn mở rộng hình thức kinh doanh từ Takeaway (mang đi), đến mô hình Dining (ngồi lại) và dịch vụ Delivery (giao hàng tận nơi). Đối với Passio, được phục vụ là niềm vinh dự, và sự hài lòng của khách hàng là niềm tự hào của chúng tôi.

                </p>
                <p class="text-justify">Nhận thấy giá trị của chương trình và sự đồng điệu với thông điệp “Đam mê bất tận” của nhãn hàng, Passio đồng hành cùng chương trình The TVFace 2018 với mong muốn truyền lửa và góp phần tạo nên thế hệ người dẫn chương trình truyền hình mới không chỉ tài năng mà còn có đam mê trong công việc, những người sẽ làm ra những chương trình hay cho khán giả Việt Nam.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-20">
                <p class="lead title ">2. APEX MULTIMEDIA</p>
                <p class="text-justify">
                    Với tinh thần “nâng tầm thương hiệu từ sự chỉn chu”, Apex Multimedia tham gia The TVFace 2018 trong vai trò một nhà sản xuất khó tính, đòi hỏi độ chính xác, tỉ mỉ trong từng hạng mục công việc. Chính thế mạnh của một đơn vị tổ chức sự kiện chuyên nghiệp, từ việc lên ý tưởng đến triển khai công việc thực tế tại hiện trường, đã trở thành đòn bẩy hữu hiệu cho Apex Multimedia tạo nên sự cộng hưởng hiệu quả cho hình ảnh chương trình.
                </p>
                <p class="text-justify">
                    “Chỉn chu”, “sáng tạo”, “công nghệ” là ba giá trị cốt lõi được thể hiện rất rõ trong các sản phẩm gắn liền với thương hiệu Apex, tạo nên thành công và uy tín đối với các đối tác doanh nghiệp, tổ chức… Bên cạnh đội ngũ nhân sự trẻ tuổi, đầy nhiệt huyết, hiểu việc và đầy tinh thần trách nhiệm, Apex Multimedia hiện được điều hành và truyền lửa bởi những tên tuổi quen thuộc và thành công trong ngành Phát thanh, Truyền hình.
                </p>
            </div>
        </div>
    </div>
</div>