﻿<section class="mt-100">
    <div class="timeline-slider">
        <h2 class="text-white m-t-30 m-l-30 f-w-600">HÀNH TRÌNH CHINH PHỤC</h2>
        <div class="container-fluid m-t-30">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-four owl-carousel">
                        <div class="item">
                            <a href="#" target="_blank">
                                <iframe src="https://youtube.com/embed/tFUwymFUGeI" frameborder="0" width="205" height="116" class="pictureScale"></iframe>
                            </a>
                            <h3 class="text-white f-w-600">Tập 1</h3>
                            <p class="ep-detail">
                                Là chương trình truyền hình thực tế trong việc tìm kiếm, phát hiện, đào tạo MC truyền hình. Chương trình được phát sóng trên HTV.
                            </p>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <iframe src="https://youtube.com/embed/-aFdoGaKAwE" frameborder="0" width="205" height="116"></iframe>
                            </a>
                            <h3 class="text-white f-w-600">Tập 2</h3>
                            <p class="ep-detail">
                                GƯƠNG MẶT TRUYỀN HÌNH | GMTH #2 FULL | 11/10/2018
                                Là chương trình truyền hình thực tế trong việc tìm kiếm, phát hiện, đào tạo MC truyền hình. Chương trình được phát sóng trên HTV.
                            </p>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" class="pictureScale" />
                            </a>
                            <h3 class="text-white f-w-600">Tập 3</h3>
                            <p class="ep-detail">
                                Comming soon!
                            </p>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" class="pictureScale" />
                            </a>
                            <h3 class="text-white f-w-600">Tập 4</h3>
                            <p class="ep-detail">
                                Comming soon!
                            </p>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" class="pictureScale" />
                            </a>
                            <h3 class="text-white f-w-600">Tập 5</h3>
                            <p class="ep-detail">
                                Comming soon!
                            </p>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" class="pictureScale" />
                            </a>
                            <h3 class="text-white f-w-600">Tập 6</h3>
                            <p class="ep-detail">
                                Comming soon!
                            </p>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" class="pictureScale" />
                            </a>
                            <h3 class="text-white f-w-600">Tập 7</h3>
                            <p class="ep-detail">
                                Comming soon!
                            </p>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank">
                                <img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" class="pictureScale" />
                            </a>
                            <h3 class="text-white f-w-600">Tập 8</h3>
                            <p class="ep-detail">
                                Comming soon!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>