﻿.timeline-slider {
    background-image: linear-gradient(to right,#A3CC39, #0064A4,#00032C);
    padding: 2rem 4rem;
    color:white;
}

.owl-one {
    position: relative;
}

.owl-four .owl-prev i:hover,
.owl-four .owl-next i:hover {
    background-color: #000;
}

.owl-four .owl-prev i,
.owl-four .owl-next i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-out;
}

.owl-four .owl-prev,
.owl-four .owl-next {
    position: absolute;
    opacity: 0;
    transition: all 0.6s ease-out;
    transition-delay: 0.5s;
    top: 50%;
    margin-top: -20px;
}

.owl-four:hover .owl-prev,
.owl-four:hover .owl-next {
    opacity: 1;
    transition-delay: 0s;
}

.owl-four .owl-prev {
    left: 1%;
}

.owl-four .owl-next {
    right: 1%;
}

.pictureScale:hover {
    transform: scale(1.1);
}

.item > img {
    transition: 0.5s;
}

.m-t-30{
    margin-top:30px;
}

.f-w-600{
    font-weight:600;
}
.m-l-30{
    margin-left:30px;
}