﻿body {
    font-size: 14px;
    overflow-x: hidden;
}

    body header {
        text-align: center;
    }

        body header .grad-over {
            font-size: 3em;
            font-weight: bold;
            position: relative;
            display: inline-block;
            text-shadow: 2px 2px 2px #fff;
            overflow: hidden;
        }

            body header .grad-over:after {
                content: "";
                position: absolute;
                width: 200%;
                height: 100%;
                background: -webkit-linear-gradient(left, darkorange, mediumvioletred);
                background: linear-gradient(90deg, darkorange, mediumvioletred);
                top: 0;
                left: 0;
                mix-blend-mode: screen;
                -webkit-transition: all 2s ease-in-out;
                transition: all 2s ease-in-out;
            }

            body header .grad-over:hover:after {
                left: -100%;
            }

    body #timeline-wrapper .timeline-top {
        text-align: center;
    }

        body #timeline-wrapper .timeline-top .top-year {
            display: inline-block;
            width: 35px;
            height: 35px;
            border-radius: 40px;
            background-color: #03a9f4;
            /*    color: #fff;*/
            background-image: linear-gradient(to bottom left, #0064A4, #A3CC39 50%);
            /*   line-height: 80px;
    text-align: center;
    font-size: 2.8rem;*/
        }

            body #timeline-wrapper .timeline-top .top-year > span {
                font-size: 3rem;
            }

    body #timeline-wrapper .timeline-block {
        width: 100%;
        height: auto;
        position: relative;
    }

        body #timeline-wrapper .timeline-block:after {
            content: "";
            position: absolute;
            width: 4px;
            height: 103%;
            background-color: #0c142c;
            background-image: linear-gradient(to bottom, #A3CC39 40%, #0064A4, #00032C );
            left: 50%;
            top: 0;
            margin-left: -2px;
        }

        body #timeline-wrapper .timeline-block .timeline-events .l-event {
            float: left;
            position: relative;
        }

            body #timeline-wrapper .timeline-block .timeline-events .l-event .thumb {
                right: 0;
                -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%);
            }



        body #timeline-wrapper .timeline-block .timeline-events .r-event {
            float: right;
            position: relative;
        }

            body #timeline-wrapper .timeline-block .timeline-events .r-event .thumb {
                left: 0;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }


            body #timeline-wrapper .timeline-block .timeline-events .r-event .event-body {
                float: right;
                -webkit-transform: perspective(1000px) rotateY(-4deg);
                transform: perspective(1000px) rotateY(-4deg);
            }

        body #timeline-wrapper .timeline-block .event {
            min-height: 100px;
            background: none;
            position: relative;
            /*  box-shadow: 0px 40px 14px -35px #ccc, 0px -40px 14px -35px #ccc;*/
            margin-top: 20px;
        }

            body #timeline-wrapper .timeline-block .event .thumb {
                font-size: 30px;
                position: absolute;
                top: 50%;
                color: #333;
                z-index: 5;
            }

            body #timeline-wrapper .timeline-block .event .event-body {
                min-height: 180px;
                padding: 5px 70px 0px 27px;
                width: 102.8%;
                position: relative;
            }

.border-left {
    border-bottom: 1.5px solid transparent;
    /*-moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	-webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);*/
    border-image: linear-gradient(to right, #a3cc39 40%, #0066a4, #00032c);
    border-image-slice: 1;
}

.border-right {
    border-bottom: 1.5px solid transparent;
    /*-moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
	-webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);*/
    border-image: linear-gradient(to left, #a3cc39 40%, #0066a4, #00032c);
    border-image-slice: 1;
}

body #timeline-wrapper .timeline-block .event .event-body .person-image {
    display: inline-block;
    text-align: left;
    width: 39%;
}

.customLeft {
    width: 60%;
    float: left;
    padding-right: 28px;
}

.customRight {
    width: 60%;
    float: left;
    padding-left: 70px;
}

body #timeline-wrapper .timeline-block .event .event-body .person-image img {
    width: 250px;
    height: 150px;
    background: linear-gradient(to right, #A3CC39, #0066A4);
}

@media (max-width: 768px) {
    body #timeline-wrapper .timeline-top {
        text-align: right;
        padding-right: 20%;
    }

    body .timeline-block {
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: #eee;
    }

        body .timeline-block:after {
            content: "";
            position: absolute;
            height: 100%;
            background-color: #333;
            left: 5%;
            top: 0;
            margin-left: -3px;
            display: none;
        }

        body .timeline-block .r-event .event-body:after {
            content: '';
            position: absolute;
            top: 0;
            width: 6px;
            height: 100%;
            background-color: #03a9f4;
            left: -30%;
            border-radius: 3px;
            box-shadow: 1px 1px 1px #fff;
        }

        body .timeline-block .l-event .event-body:after {
            content: '';
            position: absolute;
            top: 0;
            width: 6px;
            height: 100%;
            background-color: #03a9f4;
            right: -30%;
            border-radius: 3px;
            box-shadow: -1px 1px 1px #fff;
        }
}


body .social {
    color: #999;
    letter-spacing: 1px;
}

    body .social i {
        background: #eee;
        color: #777;
        padding: 5px;
        border-radius: 50%;
    }

        body .social i:hover {
            color: #111;
        }

    body .social .follow {
        -webkit-animation: light 0.8s ease-in-out infinite forwards;
        animation: light 0.8s ease-in-out infinite forwards;
    }

@-webkit-keyframes light {
    to {
        color: #111;
    }
}

@keyframes light {
    to {
        color: #111;
    }
}

.design1 {
    margin-bottom: 2%;
}

.design {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    justify-content: center;
}

.video {
    text-align: center;
}
.row1{
    margin-right: -15px;
    margin-left: -15px;
}

.row-timeline, .row-timeline .row {
    display: block;
}

.person-image > img {
    width: 250px;
    height: 150px;
    background: linear-gradient(to right, #A3CC39, #0066A4);
}