﻿<div id="pc_timeline">
    <div class="vote-header mt-40">
        <h1 class="text-center">HÀNH TRÌNH TV FACE</h1>
    </div>
    <section id="timeline-wrapper">
        <div class="container-fluid">
            <div class="row row-timeline">
                <div class="timeline-top">
                    <div class="top-year">&nbsp;</div>
                </div>

            </div>
            <div class="timeline-block">
                <div class="timeline-events">
                    <br>
                    <div class="event r-event col-md-6 col-sm-6 col-xs-8 ">
                        <div class="event-body border-right">

                            <div class="event-content">
                                <div class="person-image pull-left "><iframe src="https://youtube.com/embed/tFUwymFUGeI" frameborder="0" width="250" height="150"></iframe></div>
                                <div class="text-muted text-left customRight">
                                    <h3>Tập 1</h3>
                                    Là chương trình truyền hình thực tế trong việc tìm kiếm, phát hiện, đào tạo MC truyền hình. Chương trình được phát sóng trên HTV.<br />
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- end of right event <-->
                    <div class="clearfix"></div>
                    <div class="row row-timeline"></div>
                    <div class="event l-event col-md-6 col-sm-6 col-xs-8 ">
                        <div class="event-body border-left">

                            <div class="event-content">

                                <div class="text-muted text-right customLeft">
                                    <h3>Tập 2</h3>
                                    GƯƠNG MẶT TRUYỀN HÌNH | GMTH #2 FULL | 11/10/2018<br>
                                </div>
                                <div class="person-image pull-right "><iframe src="https://youtube.com/embed/-aFdoGaKAwE" frameborder="0" width="250" height="150"></iframe></div>
                            </div>

                        </div>
                        <!-- end of event body -->
                        <div class="clear-fix"></div>
                    </div>
                    <!-- end of left event -->
                    <div class="row row-timeline"></div>
                    <div class="event r-event col-md-6 col-sm-6 col-xs-8 ">
                        <div class="event-body border-right">

                            <div class="event-content">
                                <div class="person-image pull-left "><img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" /></div>
                                <div class="text-muted text-left customRight">
                                    <h3>Tập 3</h3>
                                     <br>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end of right event <-->
                    <div class="clearfix"></div>
                    <div class="row row-timeline"></div>
                    <div class="event l-event col-md-6 col-sm-6 col-xs-8 ">
                        <div class="event-body border-left">

                            <div class="event-content">

                                <div class="text-muted text-right customLeft">
                                    <h3>Tập 4</h3>
                                    <br>
                                </div>
                                <div class="person-image pull-right "><img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" /></div>
                            </div>

                        </div>
                        <!-- end of event body -->
                        <div class="clear-fix"></div>
                    </div>
                    <!-- end of left event -->
                    <div class="row row-timeline"></div>
                    <div class="event r-event col-md-6 col-sm-6 col-xs-8 ">
                        <div class="event-body border-right">

                            <div class="event-content">
                                <div class="person-image pull-left "><img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" /></div>
                                <div class="text-muted text-left customRight">
                                    <h3>Tập 5</h3>
                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end of right event <-->
                    <div class="clearfix"></div>
                    <div class="row row-timeline"></div>
                    <div class="event l-event col-md-6 col-sm-6 col-xs-8 ">
                        <div class="event-body border-left">

                            <div class="event-content">

                                <div class="text-muted text-right customLeft">
                                    <h3>Tập 6</h3>
                                    <br>
                                </div>
                                <div class="person-image pull-right "><img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" /></div>
                            </div>

                        </div>
                        <!-- end of event body -->
                        <div class="clear-fix"></div>
                    </div>
                    <!-- end of left event -->
                    <div class="row row-timeline"></div>
                    <div class="event r-event col-md-6 col-sm-6 col-xs-8 ">
                        <div class="event-body border-right">

                            <div class="event-content">
                                <div class="person-image pull-left "><img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" /></div>
                                <div class="text-muted text-left customRight">
                                    <h3>Tập 7</h3>
                                    <br>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end of right event <-->
                    <div class="clearfix"></div>
                    <div class="row row-timeline"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="design text-center mb-40">
        <div class="design1"><img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/arrow2.PNG" /></div>
        <div class="person-image pull-left "><img src="~/Template/BaoBiNhuaBinhMinh/Assets/img/LogoDen-05.png" /></div>
        <div class="text-muted text-center col-lg-4 col-lg-offset-4">
            <h3>Tập 8</h3>
             <br>
        </div>
    </div>


</div>
