﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/_HomeContact/_homeContact.css" rel="stylesheet" />
<section id="contact" class="section-bg wow fadeInUp">
    <div class="container">

        <div class="section-header">
            <h3>LIÊN HỆ</h3>
            @*<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>*@
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-ios-home-outline"></i>
                   
                    <h3>Trụ Sở Chính</h3>
                    <address>
                        42 Kha Vạn Cân,Khu phố 3, P. Hiệp Bình Chánh,  Q.Thủ Đức, Tp.HCM
                    </address>
                    <br />
                    <h3>Nhà Máy 1- 2-3: </h3>
                    <address> Nguyễn Thị Minh Khai,Khu phố Đông Chiêu, P. Tân Đông Hiệp,Thị xã Dĩ An, Tỉnh Bình Dương</address>
                    <address>
                        ĐT: (+84274) 6291789
                    </address>
                    <address>
                        Fax: (+84274) 3741883
                    </address>
                    <br />
                    @*<h3>BAO BÌ SẠCH</h3>*@
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="ion-ios-telephone-outline"></i>
                    <h3>Điện thoại</h3>
                    <address>Kinh doanh: (+8428) 66756588</address>
                    <address>Nhân sự: (+8428) 22404889</address>
                    <address>Kế toán: (+8428) 22404888</address>
                    <address>Vật tư: (+8428) 6683868</address>
                    <address>Fax: (+8428) 37269802</address>
                    <address>MST: 0305122228</address>
                    <address>Email: sales@baobibinhminh.net</address>
                    <address>Website: www.baobibinhminh.com</address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="ion-ios-location-outline"></i>

                    <h3>CÔNG TY BAO BÌ BÌNH MINH</h3>


                    <div id="map"></div>
                </div>
            </div>

        </div>

        <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" name="email" class="form-control" id="email" placeholder="Your email" data-rule="minlen:4" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>

                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
        </div>

    </div>
</section>
