﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/News/new.css" rel="stylesheet" />
@Html.Section("_Home_Info")
<div class="contain">
    <div class="content">
        <div class="contentl">
            <h3 class="titleAbility">NĂNG LỰC</h3>
            <ul class="mainmenu">
                <li><a href="">►NGUỒN NHÂN LỰC</a></li>
                <li><a href="">►MÁY MÓC THIẾT BỊ</a></li>
                <li><a href="">►NHÀ MÁY</a></li>
                <li><a href="">►NGUYÊN VẬT LIỆU</a></li>
                <li><a href="">►CHẤT LƯỢNG</a></li>
            </ul>
        </div>
        <div class="contentr">
            <h2 class="titleAbility">►NGUỒN NHÂN LỰC</h2>
            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#008000;"><strong><sub><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/NHAN LUC(1).png" style="height:60px;width:205px;" /></sub>Con người</strong></span><span style="color:#000000;"> là ưu tiên hàng đầu của </span><a href="http://baobibinhminh.net/" title="bao bi binh minh"><span style="color:#008000;"><strong>Bình Minh</strong></span></a><span style="color:#07733b;">.</span><span style="color:#000000;"> Với những chuyên gia nhiều năm kinh nghiệm trong lĩnh vực màng phức hợp, cùng đội ngũ nhân viên trẻ trung, năng động, nhiệt huyết, chúng tôi cam kết sẽ mang đến sự hài lòng, tin tưởng cho quý khách về chất lượng dịch vụ cũng như giá cả hợp lý.</span></span></span></p>

            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#000000;">Đội ngũ công nhân lành nghề, đam mê với công việc, được đào tạo bài bản về kỹ năng nghiệp vụ, chuyên môn kỹ thuật. Hằng năm công ty thường xuyên tổ chức các hoạt động tập huấn, trang bị kiến thức về an toàn lao động, sơ cấp cứu. Bên cạnh đó, công ty cũng tổ chức các hoạt động thể dục thể thao, văn hóa văn nghệ tạo sân chơi, môi trường gắn bó cho tập thể cán bộ, công nhân viên trong công ty.</span></span></span></p>

            <p style="text-align:center;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#008000;"><strong><em> </em></strong></span></span><br /><span style="font-family:'times new roman', times, serif;"><span style="color:#008000;"><strong><em>    </em>SƠ ĐỒ TỔ CHỨC CÔNG TY</strong></span></span></span><span style="color:rgb(0,100,0);"><strong><em><span style="font-family:arial, helvetica, sans-serif;"><span style="font-size:12pt;"><span style="font-size:18px;"> </span><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/So do to chuc(1).png" id="img-sale-maketting" /></span></span></em></strong></span></p>

        </div><div class="clear"></div>
    </div>
    </div>
