﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/_AboutUs/aboutUs.css" rel="stylesheet" />
@Html.Section("_Home_Info")
<div class="contain">


    <div class="content">

        <img id="gioi-thieu" alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/GIOI THIEU.png" style="font-size:10.8333px;height:60px;width:165px;" />
        <div style="text-align:justify;" class="width-about">
            <span style="font-size:18px;">
                <span style="font-family:'times new roman', times, serif;">
                    <strong><span style="color:rgb(0,128,0);">Công Ty Cổ Phần Bao bì Bình Minh</span></strong> được thành lập vào năm 2007, chuyên về lĩnh vực sản xuất in ấn và cung cấp các loại bao bì màng mềm phức hợp <strong><span style="color:rgb(0,0,0);">(bao bì phức hợp)</span></strong> dành cho ngành hàng thực phẩm, bánh kẹo, dược phẩm, mỹ phẩm, hóa chất nông nghiệp, bao bì nhựa…trên các chất liệu gồm: giấy Kraft, couche, màng BOPP, PET, MCPP, MPET, PA, PE, AL, OPP, PVC, POF, LLDPE…<br />
                    Với hơn 10 năm kinh nghiệm, chúng tôi không ngừng nghiên cứu, cải tiến năng lực sản xuất, đào tạo và xây dựng đội ngũ cán bộ công nhân viên chuyên nghiệp đem đến sự hài lòng cho khách hàng thông qua chất lượng sản phẩm và dịch vụ hoàn hảo.<br />
                    Phát triển bền vững và ổn định, chúng tôi đặc biệt chú trọng tới các giải pháp <strong>bao bì</strong> cùng chung tay bảo vệ môi trường và thực hành tối đa hóa hiệu quả kinh doanh cho doanh nghiệp.<br />
                    Với sứ mệnh <span style="color:rgb(0,128,0);"><strong>"khách hàng là trọng tâm"</strong></span>, Quý Khách Hàng hoàn toàn yên tâm khi hợp tác cùng Bình Minh với:<span style="color:rgb(0,0,0);"> </span><span style="color:rgb(0,100,0);"><strong>"Chất Lượng Đảm Bảo - Giá Cạnh Tranh - Dịch Vụ Tận Tình"</strong></span><span style="color:rgb(0,0,0);">.</span>
                </span>
            </span>

        </div>

        <div class="width-about" id="width-about-mobile" style="text-align:center;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><strong><span style="color:rgb(255,0,0);">Giấy chứng nhận: ISO 9001:2008, ISO 9001:2015, HACCP – GMP,...</span></strong></span></span></div>

       

        <sub><img id="su-menh" alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/SU MENH.png" style="height:60px;width:151px;" /></sub>
        <ul class="width-about">
            <li style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:rgb(0,128,0);"><strong>Đối với thị trường</strong></span>: Cung cấp các sản phẩm – dịch vụ chất lượng cao và mang tính chuyên nghiệp cao. Bên cạnh giá trị chất lượng vượt trội, trong mỗi sản phẩm – dịch vụ đều chứa đựng những thông điệp văn hóa, nhằm thỏa mãn tối đa nhu cầu chính đáng của khách hàng.</span></span></li>
            <li style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:rgb(0,128,0);"><strong>Đối với cổ đông và đối tác</strong></span>: Đề cao tinh thần hợp tác cùng phát triển; cam kết trở thành “Người đồng hành số 1” của các đối tác và cổ đông; luôn gia tăng các giá trị đầu tư hấp dẫn và bền vững.</span></span></li>
            <li style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:rgb(0,128,0);"><strong>Đối với nhân viên</strong></span>: Xây dựng môi trường làm việc chuyên nghiệp, năng động, sáng tạo và nhân văn; tạo điều kiện thu nhập cao và cơ hội phát triển công bằng cho tất cả nhân viên.</span></span></li>
            <li style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:rgb(0,128,0);"><strong>Đối với xã hội</strong></span>: Hài hòa lợi ích doanh nghiệp với lợi ích xã hội; đóng góp tích cực vào các hoạt động hướng về cộng đồng, thể hiện tinh thần trách nhiệm công dân và niềm tự hào dân tộc.</span></span></li>
        </ul><p><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#008000;"><strong><sub><img id="tam-nhin" alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/TAM NHIN.png" style="height:60px;width:156px;" /></sub></strong></span></span></span></p>

        <p style="text-align:justify;" class="width-about"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">Bằng khát vọng tiên phong cùng chiến lược đầu tư - phát triển bền vững, Bình Minh phấn đấu trở thành đơn vị sản xuất có sức ảnh hưởng lớn tại Việt Nam.</span></span><br /><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">Bình Minh mong muốn tạo nên một thương hiệu hiện đại, thể hiện tầm vóc trí tuệ và niềm tự hào của tập thể lãnh đạo, cán bộ và công nhân viên của công ty.</span></span></p>

        <p><sub><img id="gia-tri" alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/GIA TRI.png" style="height:60px;width:193px;" /></sub></p>

        <ul class="width-about">
            <li style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#008000;"><strong>Tín</strong></span>: Bình Minh bảo vệ chữ Tín như bảo vệ danh dự của chính mình; Luôn chuẩn bị đầy đủ năng lực thực thi và nỗ lực hết mình để đảm bảo đúng cam kết.</span></span></li>
            <li style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><strong><span style="color:#008000;">Tâm</span></strong><span style="color:#000000;">:</span><strong><span style="color:#00B050;"> </span></strong>Bình Minh đặt chữ Tâm làm nền tảng; Luôn thượng tôn pháp luật, duy trì đạo đức; Lấy khách hàng làm trung tâm.</span></span></li>
            <li style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#008000;"><strong>Trí</strong></span>:<strong> </strong>Bình Minh đề cao sự hoàn thiện về công nghệ, là đòn bẩy phát triển; Chủ trương xây dựng một “doanh nghiệp không ngừng học tập và hoàn thiện mình”.</span></span></li>
            <li style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#008000;"><strong>Nhân</strong></span>: Bình Minh xây dựng các mối quan hệ với tinh thần nhân văn; coi trọng người lao động như là tài sản quý giá nhất; Tạo dựng “Nhân hòa” trên cơ sở công bằng, chính trực và nêu cao sức mạnh đoàn kết.</span></span></li>
        </ul>
        <div style="text-align:center;">
            <span style="color:#008000;">
                <span style="font-size:18px;">
                    <span style="font-family:'times new roman', times, serif;">
                        <span style="font-size:18px;">
                            <span style="font-family:'times new roman', times, serif;">
                                <strong>
                                    <em>
                                        ​"SỐNG NHANH, SỐNG VỘI, SỐNG TÍCH CỰC<br />
                                        LÀM NHANH, LÀM KỊP, LÀM HIỆU QUẢ"
                                    </em>
                                </strong>
                            </span>
                        </span>
                    </span>
                </span>
            </span><br />
        </div>
 
        <div class="clear"></div>
    </div>
        </div>

