﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/News/new.css" rel="stylesheet" />

@Html.Section("_Home_Info")

<div class="contain" id="nhanvien-kythuat">

    <div class="content">
        <div class="contentl">
            <h3 class="titleNews">TIN TỨC NỔI BẬT</h3>
            <ul class="newsmenu">
                <li><a href="">Bạn hiểu OEM, ODM và OBM là gì?</a></li>
                <li><a href="">INTERPACK 2017</a></li>
                <li><a href="">Xây dựng lòng trung thành với thương hiệu (Brand Loyalty )</a></li>
                <li><a href="">Nhà cung ứng bao bì của doanh nghiệp lớn</a></li>
                <li><a href="">Ngành công nghiệp bao bì Việt Nam: Từ tiềm năng, cơ hội đến thách thức</a></li>
                <li><a href="">Ngành bao bì mềm đang cạnh tranh và tăng tốc</a></li>
            </ul>
        </div>
        <div class="contentr">
            <h2 class="titleNews">Tuyển dụng</h2>
            <h3 class="titlnews">TRƯỞNG PHÒNG KỸ THUẬT-ĐIỆN TỰ ĐỘNG</h3>
            <div style="font-size:14px;line-height:1.625">
                Vị trí tuyển dụng : Trưởng Phòng Kỹ Thuật - Điện Tự Động<br />
                Số lượng : 1 <br />
                Giới tính : Nam<br /><u>Yêu cầu :</u><br />
                - Kinh nghiệm trên 03 năm về điện tự động<br />
                - Tuổi : trên 30<br />
                - Bằng cấp : Tốt nghiệp Đại Học Bách Khoa ( chính quy)<br />
                - Chuyên ngành: Điện tự động<br />
                - Mức lương  thỏa thuận<br />
                - Làm việc tại Bình Dương và HCM<br />
                - Ưu tiên : có kinh nghiệm trong ngành in ấn bao bì ống đồng.<br /><u>Mô tả công việc:</u><br />
                - Quản lý , kiểm tra, tư vấn về chửa và bảo trì máy móc liên quan đến phòng<br />
                - Điều hành , quản lý, sắp xếp nhân viên của phòng hiệu quả và hợp lý <br /><u>Quyền lợi:</u><br />
                - Được hưởng các chế độ theo pháp luật , thỏa ước lao động, nội quy lao động tập thể.<br />
                - Làm việc trong môi trường thân thiện và năng động.<br />
                Gửi hồ sơ qua email:  hr.bmpackaging@gmail.com - Mr. Thành : 0908.336.263<br />
                Hạn cuối nộp hồ sơ: 29/04/2016.<br />
            </div>
            <div class="clear"></div>
            <div class="product_other">
                <h3 class="title_other" style="display:block">Tin liên quan</h3>
                <ul class="news_related">
                    <li><a href="http://www.baobibinhminh.net/vi/n54/NHAN-VIEN-SALESMARKETING.html">NHÂN VIÊN SALES-MARKETING</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n47/NHAN-VIEN-KCS.html">NHÂN VIÊN KCS </a></li>
                </ul>
            </div><!--other_news-->
        </div><div class="clear"></div>
    </div>
</div>