﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/Ability/ability.css" rel="stylesheet" />
@Html.Section("_Home_Info")
<div class="contain">
    <div class="content">
        <div class="contentl">
            <h3 class="titleAbility">NĂNG LỰC</h3>
            <ul class="mainmenu">
                <li><a href="">►NGUỒN NHÂN LỰC</a></li>
                <li><a href="">►MÁY MÓC THIẾT BỊ</a></li>
                <li><a href="">►NHÀ MÁY</a></li>
                <li><a href="">►NGUYÊN VẬT LIỆU</a></li>
                <li><a href="">►CHẤT LƯỢNG</a></li>
            </ul>
        </div>

        <div class="contentr">
            <h2 class="titleAbility">►NHÀ MÁY</h2>
            <p><span style="font-size:16px;"><span style="color:#000000;"><span style="font-family:arial, helvetica, sans-serif;"><sub><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/NHA MAY.png" style="height:60px;width:147px;" /></sub></span></span></span></p>

            <p style="text-align:center;"><span style="font-size:16px;"><span style="color:#000000;"><span style="font-family:arial, helvetica, sans-serif;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/Nha May nang luc 5.png" style="height:500px;width:775px;" /></span></span></span></p>

            <p style="text-align:justify;"><br /><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">Nhà máy sản xuất Bao Bì <strong>Bình Minh</strong> tọa lạc tại địa chỉ:</span></span></p>

            <p style="margin-left:40px;text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">- Trụ Sở Chính: 42, Kha Vạn Cân, Khu Phố 3, P. Hiệp Bình Chánh, Q. Thủ Đức, Tp. Hồ Chí Minh.</span></span></p>

            <p style="margin-left:40px;text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">- Nhà máy 2: 140 Nguyễn Thị Minh Khai, Khu phố Đông Chiêu, P. Tân Đông Hiệp, Thị xã Dĩ An, Tỉnh Bình Dương.</span></span></p>

            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">Nhà máy sản xuất của <strong>Công ty CP Bao Bì Bình Minh</strong> có khoảng gần 100 kỹ sư và công nhân lành nghề, có đầy đủ trang thiết bị máy móc phục vụ công tác sản xuất đa dạng, phức tạp theo  tiêu chuẩn <strong>ISO 9001:2008, HACCP - GMP</strong> đáp ứng được tất cả yêu cầu của khách hàng.  </span></span></p>

            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">Nhà máy sản xuất của <strong>Công ty CP Bao Bì Bình Minh</strong> có tổng diện tích cụ thể như sau:</span></span></p>

            <p style="margin-left:40px;text-align:justify;">
                <span style="font-size:18px;">
                    <span style="font-family:'times new roman', times, serif;">
                        - Văn phòng: 500 m<sup>2</sup> <br />
                        - Trụ Sở Chính: 2.000 m<sup>2</sup> <br />
                        - Nhà Máy 02: 5.000 m<sup>2</sup>
                    </span>
                </span>
            </p>

            <p style="text-align:justify;">
                <span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">Với khả năng và năng lực hiện có, hàng năm <strong>Công ty CP Bao Bì Bình Minh</strong> có thể sản xuất với công suất tối đa 16 tấn sản phẩm/ngày đêm để phục vụ, đáp ứng theo yêu cầu của khách hàng và đảm bảo chất lượng sản phẩm theo tiêu chuẩn đưa ra.</span></span><br />
            </p>

            <p style="text-align:center;"><span style="font-size:16px;"><span style="color:#000000;"><span style="font-family:arial, helvetica, sans-serif;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/Nha May nang luc 5.png" style="height:500px;width:775px;" /></span></span></span></p>

        </div><div class="clear"></div>
    </div>
</div>
</div>