﻿
    <!--==========================
      Header

    <!--==========================
      Intro Section
    ============================-->
    @Html.Section("_Home_Info")

    <main id="main">

        <!--==========================
          Featured Services Section
        ============================-->
        @*<section id="featured-services">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 box">
                        <i class="ion-ios-bookmarks-outline"></i>
                        <h4 class="title"><a href="">Lorem Ipsum Delino</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                    </div>

                    <div class="col-lg-4 box box-bg">
                        <i class="ion-ios-stopwatch-outline"></i>
                        <h4 class="title"><a href="">Dolor Sitema</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                    </div>

                    <div class="col-lg-4 box">
                        <i class="ion-ios-heart-outline"></i>
                        <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>

                </div>
            </div>
        </section>*@
        <!-- #featured-services -->
        <!--==========================
          About Us Section
        ============================-->
    @Html.Section("_AboutUs")
        
        <!-- #about -->
        <!--==========================
          Services Section
        ============================-->
    @Html.Section("_HomeNew")    
        
        <!-- #services -->
        <!--==========================
          Call To Action Section
        ============================-->
        @*<section id="call-to-action" class="wow fadeIn">
            <div class="container text-center">
                <h3>Call To Action</h3>
                <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="cta-btn" href="#">Call To Action</a>
            </div>
        </section>*@
        <!-- #call-to-action -->
        <!--==========================
          Skills Section
        ============================-->
        @*<section id="skills">
            <div class="container">

                <header class="section-header">
                    <h3>Our Skills</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                </header>

                <div class="skills-content">

                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">HTML <i class="val">100%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">CSS <i class="val">90%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">JavaScript <i class="val">75%</i></span>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill">Photoshop <i class="val">55%</i></span>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@

        <!--==========================
          Facts Section
        ============================-->

        @Html.Section("_HomeAccess")
        <!-- #facts -->
        <!--==========================
          Portfolio Section
        ============================-->
   @Html.Section("_HomeProduct")
        
        <!-- #portfolio -->
        <!--==========================
          Clients Section
        ============================-->
        @*<section id="clients" class="wow fadeInUp">
            <div class="container">

                <header class="section-header">
                    <h3>Our Clients</h3>
                </header>

                <div class="owl-carousel clients-carousel">
                    <img src="~/Template/BaoBiNhuaBinhMinh/img/clients/client-1.png" alt="">
                    <img src="~/Template/BaoBiNhuaBinhMinh/img/clients/client-2.png" alt="">
                    <img src="~/Template/BaoBiNhuaBinhMinh/img/clients/client-3.png" alt="">
                    <img src="~/Template/BaoBiNhuaBinhMinh/img/clients/client-4.png" alt="">
                    <img src="~/Template/BaoBiNhuaBinhMinh/img/clients/client-5.png" alt="">
                    <img src="~/Template/BaoBiNhuaBinhMinh/img/clients/client-6.png" alt="">
                    <img src="~/Template/BaoBiNhuaBinhMinh/img/clients/client-7.png" alt="">
                    <img src="~/Template/BaoBiNhuaBinhMinh/img/clients/client-8.png" alt="">
                </div>

            </div>
        </section>*@
        <!-- #clients -->
        <!--==========================
          Clients Section
        ============================-->
      
        @Html.Section("_HomeRecruitment")
        <!-- #testimonials -->
        <!--==========================
          Team Section
        ============================-->
        @Html.Section("_HomeImage")
        
        <!-- #team -->
        <!--==========================
          Contact Section
        ============================-->
        @Html.Section("_HomeContact")
        <!-- #contact -->

      

    </main>

    <!--==========================
      Footer
    ============================-->
  
