﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/News/new.css" rel="stylesheet" />

@Html.Section("_Home_Info")
<div class="contain">
    <div class="content">
        <div class="contentl">
            <h3 class="titleAbility">NĂNG LỰC</h3>
            <ul class="mainmenu">
                <li><a href="">►NGUỒN NHÂN LỰC</a></li>
                <li><a href="">►MÁY MÓC THIẾT BỊ</a></li>
                <li><a href="">►NHÀ MÁY</a></li>
                <li><a href="">►NGUYÊN VẬT LIỆU</a></li>
                <li><a href="">►CHẤT LƯỢNG</a></li>
            </ul>
        </div>

        <div class="contentr">
            <h2 class="titleAbility">►MÁY MÓC THIẾT BỊ</h2>
            <sub><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/MAY MOC.png" style="height:60px;width:213px;" /></sub><table border="0" cellpadding="0" cellspacing="0" style="line-height:20.7999992370605px;">
                <tbody>
                    <tr>
                        <td style="vertical-align:top;width:270px;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/MAY IN ONG DONG.png" style="float:left;height:200px;width:300px;" /></span></span></td>
                        <td style="vertical-align:top;">
                            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#FF0000;"><u><strong>M</strong></u></span></span></span><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#FF0000;"><u><strong>ÁY IN ỐNG ĐỒNG</strong></u></span></span></span></p>

                            <p style="text-align:justify;"><br /><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#000000;">- In các loại </span><a href="http://baobibinhminh.net" title="bao bi"><span style="color:#000000;">bao bì</span></a><span style="color:#000000;"> màng mỏng dạng cuộn: BOPP, PET, PVC, PE,…có thể in liên tục với nhiều màu sắc</span></span></span></p>

                            <p style="text-align:justify;">
                                <span style="font-size:18px;">
                                    <span style="font-family:'times new roman', times, serif;">
                                        <span style="color:#000000;">
                                            - Chiều rộng bản in: 850-1.250mm<br />
                                            - Số lượng màu: 2-8<br />
                                            - Tốc độ in: 250-350 m/phút<br />
                                            - Số lượng: 3
                                        </span>
                                    </span>
                                </span><br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:justify;vertical-align:top;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#000000;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/MAY TRANG.png" style="float:left;height:200px;width:300px;" /></span></span></span></td>
                        <td style="vertical-align:top;">
                            <p><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#FF0000;"><u><strong>MÁY TRÁNG</strong></u></span></span></span></p>

                            <p> </p>

                            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#000000;">- Tráng ghép trên chất liệu bao bì mềm có tính năng ưu việt (màng nhựa, nhôm, giấy...)</span></span></span></p>

                            <p><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#000000;">- Chiều rộng: 750-1200mm</span><br /><span style="color:#000000;">- Tốc độ tráng ghép: 200-300m/phút</span><br /><span style="color:#000000;">- Xử lý corona</span><br /><span style="color:#000000;">- Số lượng: 3</span></span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:justify;vertical-align:top;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/MAY GHEO CO DUNG MOI.png" style="height:214px;width:300px;" /></td>
                        <td style="vertical-align:top;">
                            <span style="font-size:18px;">
                                <span style="font-family:'times new roman', times, serif;">
                                    <span style="color:#FF0000;"><u><strong>MÁY GHÉP KHÔ CÓ DUNG MÔI</strong></u></span><br /><br />
                                    -
                                </span>
                            </span><span style="color:rgb(0,0,0);font-family:'times new roman', times, serif;font-size:18px;">Sử dụng cho các chất liệu</span><span style="font-size:18px;">
                                <span style="font-family:'times new roman', times, serif;">
                                    : AL, PET, BOPP, giấy, cellophane, nylon.<br />
                                    - Khổ màng: 650 - 1250 mm.<br />
                                    - Tốc độ: 200-300m/phút.<br />
                                    - Sản lượng: 300 tấn/tháng.<br />
                                    - Số lượng: 1
                                </span>
                            </span><br />
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;">
                            <div><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/MAY GHEP KHONG DUNG MOI.png" style="float:left;height:200px;line-height:20.8px;width:300px;" /></span></span></div>

                            <div> </div>
                        </td>
                        <td style="vertical-align:top;">
                            <h4 style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#FF0000;"><u><strong>MÁY GHÉP KHÔ KHÔNG DUNG MÔI</strong></u></span></span></span></h4>

                            <p style="text-align:justify;">
                                <br /><span style="font-size:18px;">
                                    <span style="font-family:'times new roman', times, serif;">
                                        <span style="color:#000000;">- Sử dụng cho các chất liệu: AL, PET, BOPP, giấy, cellophane, nylon</span><br /><span style="color:#000000;">- Khổ màng: 650-1.300mm</span><br /><span style="color:#000000;">- Tốc độ: 250-350m/phút</span><br /><span style="color:#000000;">
                                            - Sản lượng trung bình: 300 tấn/tháng<br />
                                            - Số lượng: 2
                                        </span>
                                    </span>
                                </span><br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;">
                            <span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/MAY CHIA.png" style="float:left;height:200px;line-height:20.8px;width:280px;" /></span></span>
                            <div> </div>
                        </td>
                        <td style="vertical-align:top;">
                            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#FF0000;"><u><strong>MÁY CHIA CUỘN</strong></u></span></span></span></p>

                            <p style="text-align:justify;">
                                <br /><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#000000;">- Chất liệu: giấy, màng phức hợp,PP dệt</span><br /><span style="color:#000000;">- Khổ màng: 50-1.200mm</span><br /><span style="color:#000000;">- Công suất: 350m/phút</span><br /><span style="color:#000000;">- Sản lượng trung bình: 200,000m/ngày</span><br /><span style="color:#000000;">- Số lượng: 5</span></span></span><br /><br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;">
                            <span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/MAY LAM TUI.png" style="float:left;height:200px;line-height:20.8px;width:300px;" /></span></span>
                            <div> </div>
                        </td>
                        <td style="vertical-align:top;">
                            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#FF0000;"><u><strong>MÁY LÀM TÚI</strong></u></span></span></span></p>

                            <p style="text-align:justify;">
                                <br /><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#000000;">- Túi đáy đứng, zipper, túi 3 biên, hàn lưng, xếp hông, hàn seal</span><br /><span style="color:#000000;">- Khổ rộng túi: 60-600mm</span><br /><span style="color:#000000;">- Chiều dài túi: 50-750mm</span><br /><span style="color:#000000;">- Tốc độ cắt: 30-40m/phút/máy</span><br /><span style="color:#000000;">- Số lượng: 6</span></span></span><br />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;">
                            <span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/MAY THOI.png" style="float:left;height:200px;line-height:20.8px;width:280px;" /></span></span>
                            <div> </div>
                        </td>
                        <td style="vertical-align:top;">
                            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><span style="color:#FF0000;"><u><strong>MÁY THỔI</strong></u></span></span></span></p>

                            <p style="text-align:justify;">
                                <br /><span style="font-size:18px;">
                                    <span style="font-family:'times new roman', times, serif;">
                                        - <span style="color:rgb(0,0,0);">Chuyên thổi màng phức hợp 3 lớp nhựa HDPE, LDPE, LLDPE</span><br /><span style="color:rgb(0,0,0);">- Độ dày mỏng của màng: 0.02-0.12mm, sai số 0.005mm</span><br /><span style="color:rgb(0,0,0);">- Sản lượng: 180kg/h </span><br /><span style="color:rgb(0,0,0);">- Xử lý corona</span><br />
                                        - Số lượng: 2
                                    </span>
                                </span><br />
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><div class="clear"></div>
    </div>
</div>
