﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/Ability/ability.css" rel="stylesheet" />
@Html.Section("_Home_Info")
<div class="contain">
    <div class="content">
        <div class="contentl">
            <h3 class="titleAbility">NĂNG LỰC</h3>
            <ul class="mainmenu">
                <li><a href="">►NGUỒN NHÂN LỰC</a></li>
                <li><a href="">►MÁY MÓC THIẾT BỊ</a></li>
                <li><a href="">►NHÀ MÁY</a></li>
                <li><a href="">►NGUYÊN VẬT LIỆU</a></li>
                <li><a href="">►CHẤT LƯỢNG</a></li>
            </ul>
        </div>
        <div class="contentr">
            <h2 class="titleAbility">►NGUYÊN VẬT LIỆU</h2>
            <p><span style="font-size:14px;"><span style="font-family:arial, helvetica, sans-serif;"><strong><em><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/NGUYEN VAT LIEU.png" style="height:60px;width:205px;" /></em></strong></span></span></p>

            <p style="text-align:center;"><span style="font-size:14px;"><span style="font-family:arial, helvetica, sans-serif;"><strong><em><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/BBM-(33).jpg" style="border:1px solid;height:250px;margin:0px auto;padding:0px;width:380px;" />  <img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/Nha-Kho-(6).jpg" style="border-style:solid;border-width:1px;height:250px;width:380px;" /></em></strong></span></span></p>

            <p style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">Phần lớn nguyên vật liệu đầu vào của công ty được nhập khẩu từ các nước trong khu vực ASEAN như<strong> Thái Lan, Singapore, Hàn Quốc</strong>… Bên cạnh đó, tùy theo tính năng sản phẩm và yêu cầu của khách hàng, nguồn nguyên liệu xuất xứ từ <strong>Nhật Bản, Úc, Mỹ</strong>… cũng  được nhập khẩu trực tiếp theo đơn hàng.</span></span></p>

            <p style="text-align:justify;"> </p>

            <p style="text-align:center;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/IMG_0285.JPG" style="border:1px solid;color:rgb(0,128,0);font-family:arial, helvetica, sans-serif;font-size:14px;height:250px;margin:0px auto;padding:0px;width:380px;" /><span style="font-size:14px;"><span style="font-family:arial, helvetica, sans-serif;"><span style="color:rgb(0,128,0);">  </span></span></span><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/IMG_0286.JPG" style="border:1px solid;color:rgb(0,128,0);font-family:arial, helvetica, sans-serif;font-size:14px;height:250px;margin:0px;padding:0px;width:380px;" /></p>

            <p style="text-align:justify;"><span style="font-size:14px;"><span style="color:rgb(0,128,0);"><span style="color:rgb(0,51,0);"><span style="font-family:'times new roman', times, serif;"><span style="font-size:18px;">Ngoài ra, để đảm bảo yếu tố đầu vào ổn định trong q</span></span></span></span></span><span style="color:rgb(0,51,0);font-size:14px;"><span style="font-family:'times new roman', times, serif;"><span style="font-size:18px;">uá trình sản xuất, nguồn nguyên liệu, phụ gia trong nước được ưu tiên lựa chọn, cung ứng bởi các doanh nghiệp kinh doanh nhập khẩu có uy tín và thương hiệu trong ngành bao bì. </span></span></span></p>

            <p style="text-align:justify;"> </p>

            <p style="text-align:center;">
                <img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/IMG_0273.JPG" style="border:1px solid;color:rgb(0,128,0);font-family:arial, helvetica, sans-serif;font-size:14px;height:250px;margin:0px auto;padding:0px;width:380px;" />  <img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/IMG_0287.JPG" style="border-style:solid;border-width:1px;color:rgb(0,128,0);font-family:arial, helvetica, sans-serif;font-size:14px;height:250px;width:380px;" /><br />
            </p>

            <p style="text-align:justify;">
                <span style="font-family:'times new roman', times, serif;"><span style="font-size:18px;"><span style="color:rgb(0,51,0);">Nguyên vật liệu được kiểm soát chất lượng từ đầu vào, quá trình lưu kho, bảo quản theo Hệ thống quản lý chất lượng </span><span style="color:#000000;"><strong>ISO 9001:2008</strong></span><span style="color:rgb(0,51,0);">. Nguyên vật liệu được cấp phát cho sản xuất theo nguyên tắc </span><span style="color:#000000;"><strong>FIFO</strong></span><span style="color:#FF0000;"><strong> </strong></span><span style="color:rgb(0,51,0);">(nhập trước xuất trước) và</span><span style="color:#000000;"> <strong>FEFO</strong></span><span style="color:rgb(0,51,0);"> (hết hạn trước xuất trước).</span></span></span><br />
            </p>

            <p style="text-align:center;"><strong><span style="color:#008000;"><span style="font-family:'times new roman', times, serif;"><span style="font-size:18px;">Chúng tôi cam kết chất lượng đầu vào với giá thành cạnh tranh và tốt nhất đến với doanh nghiệp!</span></span></span></strong></p>

        </div><div class="clear"></div>
    </div>
</div>