﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/Ability/ability.css" rel="stylesheet" />
@Html.Section("_Home_Info")
<div class="contain">
    <div class="content">
        <div class="contentl">
            <h3 class="titleAbility">NĂNG LỰC</h3>
            <ul class="mainmenu">
                <li><a href="">►NGUỒN NHÂN LỰC</a></li>
                <li><a href="">►MÁY MÓC THIẾT BỊ</a></li>
                <li><a href="">►NHÀ MÁY</a></li>
                <li><a href="">►NGUYÊN VẬT LIỆU</a></li>
                <li><a href="">►CHẤT LƯỢNG</a></li>
            </ul>
        </div>
        <div class="contentr">
            <h2 class="titleAbility">►CHẤT LƯỢNG</h2>
            <div style="margin:0px;padding:0px;color:rgb(80,79,79);font-family:Tahoma, Geneva, sans-serif;font-size:12px;line-height:19.5px;clear:both;">
                <p><span style="font-size:12px;"><span style="color:#000000;"><span style="font-family:arial, helvetica, sans-serif;"><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/CHAT LUONG.png" style="height:60px;width:205px;" /><br /><br /><img alt="Chưng nhận ISO" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/iso viet001.jpg" style="border:none;float:left;height:320px;margin:0px 10px 10px 0px;padding:0px;width:250px;" /></span></span></span><img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/HACCP001.jpg" style="color:rgb(0,0,0);font-family:arial, helvetica, sans-serif;font-size:14px;height:320px;text-align:center;width:250px;" />    <img alt="" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/GMP001.jpg" style="color:rgb(0,0,0);font-family:arial, helvetica, sans-serif;font-size:14px;height:320px;text-align:center;width:250px;" /></p>

                <p style="text-align:justify;"> </p>

                <p><strong><span style="font-size:18px;">►<span style="font-family:'times new roman', times, serif;">CHỨNG NHẬN ISO 9001:2008</span></span></strong></p>
            </div>

            <div style="text-align:justify;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">          Sau một thời gian dài nỗ lực và phấn đấu của tập thể công ty, năm 2011 <strong>Công ty Cổ Phần Bao Bì Bình Minh</strong> chính thức vinh dự nhận Chứng chỉ </span></span><span style="color:#FF0000;"><strong><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">ISO 9001:2008</span></span></strong></span><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><strong> </strong>trong sự tự hào, hân hoan của cán bộ, công nhân viên; sự tin tưởng, yên tâm, ủng hộ và chúc mừng từ Quý khách hàng.</span></span><br /><br /><span style="font-size:18px;"><span style="font-family:tahoma, geneva, sans-serif;">►</span><span style="font-family:'times new roman', times, serif;"><strong>CHỨNG CHỈ HACCP - GMP</strong></span></span></div>

            <p style="text-align:justify;">
                <span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;">          Năm 2013, nối tiếp những nỗ lực để đáp ứng được nhu cầu khắt khe của thị trường, <strong>Bình Minh</strong> đã đạt được chứng nhận <span style="color:#FF0000;"><strong>HACCP - GMP</strong></span> về hệ thống quản lý chất lượng vệ sinh an toàn thực phẩm và thực hành sản xuất. Khách hàng có thể hoàn toàn yên tâm về sản phẩm của <strong>Bình Minh</strong>.</span></span><br /><br /><span style="font-family:'times new roman', times, serif;">
                    <span style="font-size:18px;">
                        ►<strong>
                            CHỨNG NHẬN ISO 9001:2015<br />
                            ►CHỨNG NHẬN CƠ SỞ ĐỦ ĐIỀU KIỆN AN TOÀN THỰC PHẨM<br />
                            ►CÔNG BỐ HỢP QUY CHO BAO BÌ THỰC PHẨM<br />
                            ►CHỨNG NHẬN ĐẠT CHUẨN QCVN CỦA TRUNG TÂM QUATEST 3
                        </strong>
                    </span>
                </span><br /><br /><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><strong>Bình Minh luôn cố gắng, phấn đấu hết mình để mang đến cho khách hàng sự hài lòng cao nhất.</strong></span></span>
            </p>

            <p style="text-align:center;"><span style="color:#008000;"><span style="font-size:18px;"><span style="font-family:'times new roman', times, serif;"><strong><em>"NÓI ĐẾN BAO BÌ BÌNH MINH LÀ NGHĨ ĐẾN "BAO BÌ XANH - SẠCH"</em></strong></span></span></span></p>

        </div><div class="clear"></div>
    </div>
</div>

   
