﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/News/new.css" rel="stylesheet" />

@Html.Section("_Home_Info")

<div class="contain" id="nhanvien-kcs">

    <div class="content" id="recruitment">
        <div class="contentl">
            <h3 class="titleNews">TIN TỨC NỔI BẬT</h3>
            <ul class="newsmenu">
                <li><a href="">Bạn hiểu OEM, ODM và OBM là gì?</a></li>
                <li><a href="">INTERPACK 2017</a></li>
                <li><a href="">Xây dựng lòng trung thành với thương hiệu (Brand Loyalty )</a></li>
                <li><a href="">Nhà cung ứng bao bì của doanh nghiệp lớn</a></li>
                <li><a href="">Ngành công nghiệp bao bì Việt Nam: Từ tiềm năng, cơ hội đến thách thức</a></li>
                <li><a href="">Ngành bao bì mềm đang cạnh tranh và tăng tốc</a></li>
            </ul>
        </div>
        <div class="contentr">
            <h2 class="titleNews">Tuyển dụng</h2>
            <h3 class="titlnews">NHÂN VIÊN KCS </h3>
            <div style="font-size:14px;line-height:1.625">
                <span style="font-family:'times new roman', times, serif;">
                    <span style="font-size:18px;">
                        <strong>Yêu cầu:</strong><br />
                        - Giới tính: Nam<br />
                        - Tốt Nghiệp Đại học Bách Khoa, Khoa học tự nhiên chuyên ngành hóa<br />
                        - Có trách nhiệm với công việc, nghiêm túc trong công việc<br />
                        - Cẩn thận, siêng năng, chịu khó, ham học hỏi và cầu tiến<br />
                        - Ưu tiên có kinh nghiệm trong lĩnh vực bao bì mềm phức hợp<br />
                        - Tính tình vui vẻ, hòa đồng<br /><br /><strong>Mô tả công việc:</strong><br />
                        - Kiểm tra chất lượng nguyên vật liệu đầu vào<br />
                        - Giám sát quá trình, kiểm tra chất lượng trong quá trình sản xuất, thành phẩm<br />
                        - Định hướng công nhân thực hiện công việc theo đúng quy trình.<br />
                        - Tính  định mức nguyên liệu sử dụng, hao hụt trên từng LXS.<br />
                        - Hỗ trợ trưởng phòng xây dựng các công thức sản xuất, quy trình kiểm tra, giám sát.<br />
                        - Giải quyết các khiếu nại, phản hồi của khách hàng về vấn đề chất lượng.<br />
                        -Thực hiện các công việc khác trong phạm vi công việc theo sự phân công của trưởng phòng.<br /><br /><strong>Quyền lợi:</strong><br />
                        - Thu nhập cao theo thỏa thuận với Ban Giám đốc.<br />
                        - Chế độ phúc lợi hấp dẫn.<br />
                        - Mội trường làm việc thân thiện, trẻ trung, năng động, chuyên nghiệp.<br />
                        - Được tạo nhiều điều kiện học hỏi và phát triển nghề nghiệp.<br />
                        - Được hỗ trợ tốt và tạo điều kiện để tự do thực hiện các sáng kiến trong công việc.<br />
                        - Được hưởng đầy đủ các chế độ bảo hiểm xã hội, bảo hiểm thất nghiệp, bảo hiểm y tế theo quy định của nhà nướcvà theo Thỏa Ước Lao Động, Nội Quy Lao Động của Công ty.<br /><br /><strong>Thông tin nộp hồ sơ:</strong><br />
                        1.   Sơ yếu lý lịch theo qui định của nhà nước (có công chứng tại địa phương và có dán ảnh dấu giáp lai)<br />
                        2.   Đơn xin việc bằng tiếng Việt hoặc tiếng Anh (hoặc cả hai).<br />
                        3.   Bản sao giấy khai sinh có công chứng (bổ sung nếu thiếu)<br />
                        4.   Giấy chứng nhận sức khỏe không quá 03 tháng (của Bệnh viện tương đương cấp huyện trở lên).<br />
                        5.   Bằng cấp, bảng điểm (có công chứng ).<br />
                        6.   Chứng chỉ tin học (có công chứng).<br />
                        7.   Chứng chỉ ngoại ngữ (có công chứng).<br />
                        8.   Bản photo Giấy CMND có công chứng.<br />
                        9.   Hộ khẩu photo công chứng (bổ sung nếu thiếu)<br />
                        10. 04 ảnh 3*4 hoặc 4*6 cm<br /><br />
                        Gửi hồ sơ qua email :  damkcs.bm@gmail.com- Mrs. Đảm : 0909.209.182 hoặc trực tiếp đến công ty.<br />
                        Hạn nộp hồ sơ: <strong>10/06/2016.</strong><br />
                        Bao Bì Bình Minh Trân Trọng Thông Báo!
                    </span>
                </span>
            </div>
            <div class="clear"></div>
            <div class="product_other">
                <h3 class="title_other" style="display:block">Tin liên quan</h3>
                <ul class="news_related">
                    <li><a href="http://www.baobibinhminh.net/vi/n54/NHAN-VIEN-SALESMARKETING.html">NHÂN VIÊN SALES-MARKETING</a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n46/TRUONG-PHONG-KY-THUATDIEN-TU-DONG.html">TRƯỞNG PHÒNG KỸ THUẬT-ĐIỆN TỰ ĐỘNG</a></li>
                </ul>
            </div><!--other_news-->
        </div><div class="clear"></div>
    </div>
</div>