﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/News/new.css" rel="stylesheet" />

@Html.Section("_Home_Info")

<div class="contain" id="sale-marketing">

    <div class="content">
        <div class="contentl">
            <h3 class="titleNews">TIN TỨC NỔI BẬT</h3>
            <ul class="newsmenu">
                <li><a href="">Bạn hiểu OEM, ODM và OBM là gì?</a></li>
                <li><a href="">INTERPACK 2017</a></li>
                <li><a href="">Xây dựng lòng trung thành với thương hiệu (Brand Loyalty )</a></li>
                <li><a href="">Nhà cung ứng bao bì của doanh nghiệp lớn</a></li>
                <li><a href="">Ngành công nghiệp bao bì Việt Nam: Từ tiềm năng, cơ hội đến thách thức</a></li>
                <li><a href="">Ngành bao bì mềm đang cạnh tranh và tăng tốc</a></li>
            </ul>
        </div>
        <div class="contentr">
            <h2 class="titleNews">Tuyển dụng</h2>
            <h3 class="titlnews">NHÂN VIÊN SALES-MARKETING</h3>
            <div style="font-size:14px;line-height:1.625">
                <div class="MarBot20" style="margin:0px 0px 20px;padding:0px;clear:both;color:rgb(80,80,80);font-family:Roboto, Verdana;font-size:12px;line-height:22px;">
                    <h4 ><img alt="" id="img-sale-maketting" src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/sales.jpg"  /></h4>

                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style="vertical-align:top;">
                                    <table cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="padding:3.6pt 7.2pt 3.6pt 7.2pt;"><span style="font-family:'times new roman', times, serif;"><span style="font-size:18px;"><strong><span style="color:#FF0000;">Ban đang sở hữu các kỹ năng quan trọng như một CHIẾN BINH?</span></strong><br /><strong><span style="color:#FF0000;">Bạn đang muốn làm việc trong một tổ chức trẻ trung năng động đầy nhiệt huyết và đam mê?</span></strong><br /><strong><span style="color:#FF0000;">Bạn đang ấp ủ một hoài bão làm chủ sự nghiệp cho riêng mình?</span></strong><br /><strong><span style="color:#FF0000;">Bạn đang tìm kiếm cho mình CƠ HỘI PHÁT TRIỂN BẢN THÂN bằng những khao khát mãnh liệt?</span></strong></span></span></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table><div style="text-align:center;"><br /><span style="font-family:'times new roman', times, serif;"><span style="font-size:18px;"> <strong><span style="color:#1F4E79;">CHÀO MỪNG </span></strong></span></span></div>

                    <div style="text-align:center;"><span style="font-family:'times new roman', times, serif;"><span style="font-size:18px;"><strong><span style="color:#1F4E79;">GIA NHẬP ĐỘI NGŨ CHUYÊN GIA SALES -MARKETING  </span></strong></span></span></div>
                    <br /><span style="font-family:'times new roman', times, serif;">
                        <span style="font-size:18px;">
                            <strong><span style="color:#548235;">Mô tả công việc: </span></strong><br /><span style="color:#505050;">·         Tìm thông tin và phân tích nhu cầu của đối tác, khách hàng tiềm năng trong các lĩnh vực như thực phẩm, </span><span style="color:rgb(80,80,80);">y dược, thú y, nông dược, hàng tiêu dùng....................</span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Tập trung và phát triển kỹ năng nghiên cứu thị trường, nghiên cứu đối thủ cạnh tranh.</span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Triển khai kế hoạch Sale-Marketing, kế hoạch phát triển hệ thống Khách Hàng</span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Tham gia trực tiếp tìm kiếm, tư vấn, hỗ trợ, CSKH, truyền thông và marketing</span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Tham mưu cho Trưởng Bộ Phận, Ban Lãnh Đạo Công ty giải pháp kinh doanh, marketing.</span><br /><strong><span style="color:#70AD47;">Yêu Cầu Công Việc</span></strong><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Trình độ:          Tốt nghiệp Đại học </span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Ngoại hình:      Ưa nhìn ( Nữ cao từ 1.58m, Nam cao từ 1.65m)</span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Bằng cấp:         Đại học chính quy </span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Tính tình:         Vui vẻ, hoạt bát, hòa đồng </span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Kinh nghiệm:    Tối thiểu 1 năm (Ưu tiên có kinh nghiệm sale B2B)</span><br /><span style="color:#505050;">                                            </span><span style="color:#505050;">
                                Khả năng thuyết phục khách hàng tốt, giao tiếp linh hoạt.<br />
                                .       Lương:             Thỏa thuận, đảm bảo thu nhập tốt<br />
                                Được hưởng thêm % hoa hồng trên doanh số đạt được (ngoài lương)
                            </span><br /><br /><strong><span style="color:#FF0000;">Thông tin khác</span></strong><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Cơ hội nghề nghiệp:    Được tạo nhiều điều kiện học hỏi và phát triển nghề nghiệp.</span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">Đồng nghiệp:               Mội trường làm việc thân thiện, trẻ trung, năng động, chuyên nghiệp.</span><br /><span style="color:#505050;">·         </span><span style="color:#505050;">
                                Quyền lợi:                    Được hưởng đầy đủ các chế độc và phúc lợi theo luật lao động<br />
                                .       Môi trường làm việc:  Được hỗ trợ tốt và tạo điều kiện để tự do thực hiện các sáng kiến
                            </span>
                        </span>
                    </span><br />

                    <div style="border:1pt solid;padding:1pt 4pt 10pt;text-align:center;"><span style="font-family:'times new roman', times, serif;"><span style="font-size:18px;"><strong><span style="color:#505050;">Mr. Tâm (0162 957 9857) – P. Nhân sự - Cty CP Bao bì Bình Minh – <a href="http://www.baobibinhminh.net/">www.baobibinhminh.net</a></span></strong></span></span></div>

                    <div style="border:1pt solid;padding:1pt 4pt 10pt;"> </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="product_other">
                <h3 class="title_other" style="display:block">Tin liên quan</h3>
                <ul class="news_related">
                    <li><a href="http://www.baobibinhminh.net/vi/n47/NHAN-VIEN-KCS.html">NHÂN VIÊN KCS </a></li>
                    <li><a href="http://www.baobibinhminh.net/vi/n46/TRUONG-PHONG-KY-THUATDIEN-TU-DONG.html">TRƯỞNG PHÒNG KỸ THUẬT-ĐIỆN TỰ ĐỘNG</a></li>
                </ul>
            </div><!--other_news-->
        </div><div class="clear"></div>
    </div>
</div>