﻿<link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Home_Info/_homInfo.css" rel="stylesheet" />
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>Công Ty Bao Bì Bình Minh</h3>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/banner 123_1020x426.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>Magnam aliquam quaerat</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/banner 10 nam_1020x433.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>BAO BÌ HÀNG TIÊU DÙNG</h3>
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/HANG TIEU DUNG1.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>BAO BÌ NGÀNH THỰC PHẨM</h3>
                                <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/THUC PHAM1.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>BAO BÌ NGÀNH THỨC UỐNG</h3>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/THUC UONG1.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>



                <div class="carousel-item">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>Magnam aliquam quaerat</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/DUOCPHAM.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>Magnam aliquam quaerat</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/NONG DUOC1.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>Magnam aliquam quaerat</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/HOA MY PHAM1.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>Magnam aliquam quaerat</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/THUY SAN1.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            @*<h3>Magnam aliquam quaerat</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
                            <img src="~/Template/BaoBiNhuaBinhMinh/Assets/Web_logo/Web_logo/DUOCPHAM.png" />
                            <br />
                            @*<a href="#featured-services" class="btn-get-started scrollto">Get Started</a>*@
                        </div>
                    </div>
                </div>

            </div>
       

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon fas fa fa-chevron-left" aria-hidden="true" style="color:#00a650"></span>
             
              @*<i class="fa fa-chevron-left" style="font-size:36px;color:#00a650"></i>*@
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon fa fa-chevron-right" style="color:#00a650" aria-hidden="true"></span>
             

                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- #intro -->