﻿<section class="container mt-100 mb-100">
    <div class="row">
        <div class="col-lg-12">
            <div class="card blog-card mt-0">
                <div class="card-body row">
                    <div class="blog-media col-md-4" style="background-image: url(https://cdn.tuoitre.vn/thumb_w/586/2018/10/19/3-huan-luyen-vien-1539933053339331931510.jpg);">
                    </div>
                    <div class="col-md-7">

                        <div class="blog-body">
                            <a href="blog-single.html" class="blog-title">
                                <h5 class="heading">Đào tạo MC từ truyền hình thực tế: Dạy gì cho đúng?</h5>
                            </a>
                            <div class="text-muted">
                                Ngày đăng:<a class="date-time" href="#">19/10/2018 17:19</a> | Đăng bởi:<a class="date-time" href="#">QUỲNH NGUYỄN-Tuổi Trẻ Online</a>
                            </div>
                            <p>
                                TTO - Chương trình truyền hình thực tế tìm kiếm, đào tạo và phát triển tài năng MC - Gương mặt truyền hình đã lên sóng HTV. Sau mùa đầu tiên chưa để lại nhiều ấn tượng, sự đổi mới trong mùa thứ hai đang mang lại hiệu ứng ban đầu
                            </p>
                            <a href="https://tuoitre.vn/dao-tao-mc-tu-truyen-hinh-thuc-te-day-gi-cho-dung-2018101914363858.htm" target="_blank" class="btn btn-primary btn-sm">Xem thêm<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card blog-card mt-0">
                <div class="card-body row">
                    <div class="blog-media col-md-4" style="background-image: url(http://static2.yan.vn/YanNews/2167221/201810/phan-ung-cua-bien-tap-vien-tan-tai-khi-bi-khan-gia-chi-trich-b3bf89d1.jpg);">
                    </div>
                    <div class="col-md-7">

                        <div class="blog-body">
                            <a href="blog-single.html" class="blog-title">
                                <h5 class="heading">Bị chỉ trích vì đóng vai ác, HLV Gương mặt truyền hình 2018 bất ngờ lên tiếng</h5>
                            </a>
                            <div class="text-muted">
                                Ngày đăng:<a class="date-time" href="#">21/10/2018</a> | Đăng bởi:<a class="date-time" href="#">THANH TRÀ - Theo yan.thethaovanhoa.vn</a>
                            </div>
                            <p>
                                Vì quá căng thẳng với các thí sinh nên HLV đã bị khán giả bức xúc và chỉ trích. Tuy nhiên, xét ở một khía cạnh khác họ cũng đang dồn hết tâm huyết của mình cho lớp trẻ.
                            </p>
                            <a href="http://www.yan.vn/phan-ung-cua-hlv-guong-mat-truyen-hinh-khi-bi-khan-gia-chi-trich-v-183277.html" target="_blank" class="btn btn-primary btn-sm">Xem thêm<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
