﻿div.card.blog-card > div.card-body > div.blog-media {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/Template/BaoBiNhuaBinhMinh/Assets/img/photo-1-1492430996077.png);
    background-position: top center;
}

div.text-muted {
    font-size: 0.8em;
}

.date-time {
    color: #0066A4;
}

.btn {
    background: linear-gradient(to right,#0066A4, #00032C);
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

    .btn:hover {
        background: linear-gradient(to right,#A3CC39,#0066A4, #00032C);
    }

@media only screen and (max-width: 376px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 170px;
    }

    .heading {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 361px) and (min-width:321px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 160px;
    }

    .heading {
        padding-top: 10px;
    }
}
@media only screen and (max-width: 321px) and (min-width:230px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 136px;
    }

    .heading {
        padding-top: 10px;
    }
}
@media only screen and (max-width: 480px) and (min-width:421px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 168px;
    }

    .heading {
        padding-top: 10px;
    }
}
@media only screen and (max-width: 420px) and (min-width:376px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 188px;
    }

    .heading {
        padding-top: 10px;
    }
}
@media only screen and (max-width: 768px)and (min-width:480px) {
    div.card.blog-card > div.card-body > div.blog-media {
        height: 257px;
    }

    .heading {
        padding-top: 10px;
    }
}





  
