﻿@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("fonts/Roboto-Condensed.woff") format('woff');
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("fonts/RobotoCondensed-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Condensed Bold'), url("fonts/Roboto-Condensed.woff") format('woff');
    src: local('Roboto Condensed Bold'), url("fonts/RobotoCondensed-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'RobotoSlab';
    font-style: normal;
    font-weight: normal;
    src: local('RobotoSlab'), url("fonts/RobotoSlab-Regular.woff") format('woff');
    src: local('RobotoSlab'), url("fonts/RobotoSlab-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.625;
    font-family: Arial;
    font-size: 12px;
    min-width: 980px;
    color: #000;
    background: url(../images/bg.jpg) repeat-x top center #fff;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

img {
    border: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contain {
    width: 1020px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}






.content {
    padding-top: 30px;
    background: url(../images/bgcontent.jpg) repeat-x top;
}

    .content img {
        max-width: 1020px;
    }

.contactl {
    float: left;
    width: 480px;
}

.contactr {
    float: right;
    width: 520px;
}



  


h2.titleAbility {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: normal;
    font-family: 'Roboto Condensed';
    font-size: 28px;
    line-height: 30px;
    color: #00a650;
    padding: 7px 0;
    border-bottom: 1px solid #cfcfcf;
}

.contentl {
    float: left;
    width: 220px;
}

.contentr {
    float: right;
    width: 780px;
}

    .contentr img {
        max-width: 780px;
    }

h3.titleAbility {
    height: 43px;
    line-height: 43px;
    padding: 0 5px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    background: #00a650;
}

ul.mainmenu > li {
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    line-height: 19px;
}

    ul.mainmenu > li > a {
        display: block;
        padding-left: 12px;
        background: url(../images/icon-1.png) no-repeat top left;
        font-size: 15px;
        color: #000;
    }

    ul.mainmenu > li a:hover, ul.mainmenu > li.active > a {
        color: #00a650;
    }

    ul.mainmenu > li > ul {
        border-top: 1px solid #ececec;
        padding-left: 15px;
        padding-top: 8px;
        margin-top: 8px;
        display: none;
    }

    ul.mainmenu > li.active > ul {
        display: block;
    }

    ul.mainmenu > li > ul > li {
        padding: 5px 0;
    }

        ul.mainmenu > li > ul > li > a {
            display: block;
            padding-left: 10px;
            background: url(../images/icon-re.jpg) no-repeat top left;
            font-size: 14px;
            color: #000;
        }


.contactl {
    float: left;
    width: 52%;
    margin-bottom: 15px;
}

.contactr {
    float: right;
    width: 46%;
}



.pagination {
    padding: 5px 10px;
    margin: 20px 0 0 0;
    clear: left;
}

    .pagination a {
        color: #666;
        padding: 3px 8px;
        background: #cfcfcf;
        text-decoration: none;
        border-radius: 3px;
    }

        .pagination span, .pagination a:hover {
            padding: 3px 8px;
            background: #ed1c24;
            color: #fff;
            border-radius: 3px;
        }














