﻿@section CustomCss{
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/CustomCss/bootstrap.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/_AboutUs/_AboutUs.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/_AboutUs_Sponsors/_AboutUs_Sponsors.css" rel="stylesheet" />
}
@Html.Section("_AboutUs")
@Html.Section("_AboutUs_Sponsors")
