﻿@model IQueryable<DataService.ViewModels.BlogPostViewModel>
@section CustomCss{
    <!--Home News-->
    <link href="~/Template/BaoBiNhuaBinhMinh/Assets/CustomCss/bootstrap.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/Home_Timeline/Home_Timeline.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/Home_News/Home_News.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/Home_Vote/Home_Vote.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Home_Banner/_Home_Banner.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Mobile_Timeline/_Mobile_Timeline.css" rel="stylesheet" />
}

@Html.Section("_Home_Banner")
@Html.Section("_Home_Info")
@Html.Section("Home_News")
@Html.Section("Home_Vote", Model.ToList())
@Html.Section("Home_Timeline")
@Html.Section("_Mobile_Timeline")


@section CustomJS{
    <script src="~/Template/BaoBiNhuaBinhMinh/Sections/Home_News/Home_News.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Sections/Home_Timeline/Home_Timeline.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Sections/Home_Vote/Home_vote.js"></script>
    <script>
        if ($(window).width() >= 1024) {
            $('#pc_timeline').show();
            $('#mobile_timeline').hide();
            $('#trailer').show();
        }
        $(window).resize(function () {
            var width = $(window).width();
            if (width < 1024) {
                $('#pc_timeline').hide();
                $('#mobile_timeline').show();
                $('#trailer').hide();
            } else {
                $('#pc_timeline').show();
                $('#mobile_timeline').hide();
                $('#trailer').show();
            }
        });
    </script>
}