﻿@model DataService.ViewModels.BlogPostViewModel
@section CustomCss{

    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Profile_Banner/_Profile_Banner.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Profile_Info/_Profile_Info.css" rel="stylesheet" />
    <link href="~/Template/BaoBiNhuaBinhMinh/Sections/_Profile_Slider/_Profile_Slider.css" rel="stylesheet" />
}
<section style="background-color:#f7f7f7;">


@Html.Section("_Profile_Banner", Model)
@Html.Section("_Profile_Info", Model)
@Html.Section("_Profile_Slider")
@Html.Section("_Profile_Modal")

 </section>
@section CustomJS{
    <script src="~/Template/BaoBiNhuaBinhMinh/Sections/_Profile_Banner/_Profile_Banner.js"></script>
    <script src="~/Template/BaoBiNhuaBinhMinh/Sections/_Profile_Slider/_Profile_Slider.js"></script>
}
